{% extends "base.html" %}

{% load static %}

{% block head %}
    <script src="{% static "datasets/vue.js" %}"></script>
    <script src="{% static "datasets/vue-resource.js" %}"></script>
{% endblock head %}

{% block content %}
<section id="apps">
<div class="container">
  {% if user.is_staff %}
  <admin-box></admin-box>
  {% endif %}
<main-box></main-box>
</div>
</section>
<script>
  {% if user.is_staff %}
	{% verbatim %}
Vue.component('admin-box', {
  template: `
  <!--
  This box shows up when:
   - admin logs in, refreshes page
   - shows messages for admin:
     - 5 deleted-non-purged analyses, 2 older than month (clickable, target=blank)
     - 
  -->
  <article class="message is-info"> 
    <div class="message-body">
      <h5 class="title is-5">Admin news</h5>
      <div v-if="purgable_analyses">There are <a target="_blank" :href="get_purgable_analyses_ids(purgable_analyses)">{{ purgable_analyses.length }} analyses</a> that can be purged</div>
      <div v-if="old_purgable_analyses"><a target="_blank" :href="get_purgable_analyses_ids(old_purgable_analyses)">{{ old_purgable_analyses.length }} purgable analyses</a> are older than {{ olddef }}</div>
    </div>
  </article>
  `, 
  data: function() {
    return {
      olddef: false,
      purgable_analyses: false,
      old_purgable_analyses: false,
    }
  }, 
  mounted: function() {
    this.fetchMessages();
  },
  computed: {
    orderedfiles: function() {
      return this.order.map(x => this.files[x]);
    },
  },
  methods: {
    fetchMessages: function() {
      url = '/messages/';
      this.$http.get(url)
	.then(response => {
	  return response.json()
	}, response => {
	}).then(result => {
	  this.olddef = result['olddef'];
	  this.purgable_analyses = result['purgable_analyses'];
	  this.old_purgable_analyses = result['old_purgable_analyses'];
	  })
	},
    get_purgable_analyses_ids: function(analyses) {
      return `?tab=searches&anids=${analyses.join(',')}`;
    },
 },
})
	{% endverbatim %}
{% endif %}

	{% verbatim %}
	Vue.component('file-box', {
		template: `
			<div class="content is-small" >
					<input type="checkbox" v-model="searchdeleted">Search deleted files 
			<input class="input is-small" v-on:keyup.13="findItems" v-model="findQuery" type="text" placeholder="Type a query and press enter to find analyses">
			<div>Showing {{ Object.keys(files).length }} files</div>
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" v-model="allSelector" v-on:click=""></th>
						<th></th>
						<th>File</th>
						<th>Date</th>
						<th>Stored</th>
						<th>Backed up</th>
						<th>Belongs</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="fn in orderedfiles">
<tr v-if="!fn.deleted">
<td></td>
<td>
	<a v-on:click="toggleFile(fn.id)">
		<span class="has-text-info icon is-small">
		<i class="fa fa-eye" />
		</span>
	</a>
</td>
<td>{{ fn.name }}</td>
<td>{{ fn.date }}</td>
<td>
    <span class="tag is-info" v-if="fn.stored">{{ fn.stored }}</span>
    <span v-else>-</span>
</td>
<td>
    <span class="has-icon" v-if="fn.backup"><i class="fa fa-check has-text-success"></i></span>
    <span v-else>-</span>
</td>
<td>{{ fn.owner }}</td>
<td>{{ fn.ftype }}</td>
</tr>
<tr v-else>
<td></td>
<td></td>
<td><s>{{ fn.name }}</s></td>
<td><s>{{ fn.date }}</s></td>
<td>-</td>
<td>-</td>
<td><s>{{ fn.owner }}</s></td>
<td><s>{{ fn.ftype }}</s></td>
</tr>

<template v-if="fn.details !== false">
<tr v-if="fn.details.renameable">
<td></td>
<td colspan="6">
<div class="field"><div class="control"><input class="input is-small" v-model="fn.details.newname" type="text"></div></div>
</td><td>
<div class="field"><div class="control"><a v-on:click="renameFile(fn.id, fn.details.newname)" class="button is-small is-primary">Rename file</a></div></div>
</td>
</tr>
<tr><td></td><td colspan="6">
<div v-if="fn.details.producer"><span class="has-text-weight-bold">Producer:</span> {{ fn.details.producer }} </div>
<div v-if="fn.details.description"><span class="has-text-weight-bold">Description:</span> {{ fn.details.description }} </div>
<div v-if="fn.details.path"><span class="has-text-weight-bold">Storage location:</span> {{ fn.details.path }} </div>
<div>
    <a v-if="fn.details.dataset" v-bind:href="'?tab=datasets&dsids='+fn.details.dataset" target="_blank"><span class="tag is-info">Dataset</span></a> 
    <a v-if="fn.details.analyses" v-bind:href="'?tab=searches&anids='+fn.details.analyses.join(',')" target="_blank"><span class="tag is-primary">Analyses</span></a> 
</div>
</td>
<!--
		<div v-for="job in ds.details.jobs">
			<a v-if="job.state==='error' && job.retry" v-on:click="retryJob(job.id)" class="button is-small is-outlined is-danger">Retry {{ job.name }}</a>
					<span v-else-if="job.state==='error'" class="tag is-danger">{{ job.name }}</span>
					<span v-if="job.state==='processing'" class="tag is-warning">{{ job.name }}</span>
					<span v-if="job.state==='pending'" class="tag is-warning">{{ job.name }}</span>
			</div>
-->
</tr>
		</template>
				</template>
				</tbody>
			</table>
</div>
`,
		data: function() {
			return {
				files: {},
                                order: [],
				findQuery: '',
				allSelector: false,
				searchdeleted: false,
				searchUrl: '/find/files/',
				selectedDsets: [],
		{% endverbatim %}
                                initialFnids: [{{ fnids|join:',' }} ],
		{% verbatim %}
				}
		},
		mounted: function() {
			this.fetchFiles(this.initialFnids);
		},
                computed: {
                    orderedfiles: function() {
                        return this.order.map(x => this.files[x]);
                    },
                },
                methods: {
			findItems: function() {
				this.$http.get(this.searchUrl,
					{params: {deleted: this.searchdeleted, q: this.findQuery.split(' ').join(',') }})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.files = result['files'];
						this.order = result['order'];
					}
				})
			},
			toggleFile: function(fn_id) {
				if (!this.files[fn_id].details) {
					this.fileInfo(fn_id);
				} else {
					this.files[fn_id].details = false
				}
			},
			fileInfo: function(fn_id) {
				this.$http.get(`/show/file/${fn_id}`)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.files[fn_id].details = result;
				})
			},
			fetchFiles: function(fnids) {
				url = '/show/files/'
				url = fnids.length ? url + `?fnids=${fnids.join(',')}` : url;
				this.$http.get(url)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.files= result['files'];
						this.order = result['order'];
					}
				})
			},
                        renameFile: function(fn_id, newname) {
				this.$http.post(`/files/rename/`, {'newname': newname, 'sf_id': fn_id})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
                                    console.log(result);
				})
                        },
                },

})
	Vue.component('dataset-box', {
		template: `
			<!-- here starts datasets list box, component or container? -->
			<div class="content is-small" >
					<input type="checkbox" v-model="searchdeleted">Search deleted datasets
<input class="input is-small" v-on:keyup.13="findDatasets" v-model="findDsQuery" type="text" placeholder="Type a query and press enter to search datasets">
                        <a class="button" title="Search MS data" v-on:click="analyzeDatasets" v-show="selectedDsets.length">Analyze datasets</a>
                        <a class="button" title="Search MS data" disabled v-show="!selectedDsets.length">Analyze datasets</a>
                        <a class="button" title="Move datasets to cold storage (delete)" v-on:click="archiveDataset" v-show="selectedDsets.length">Retire datasets</a>
                        <a class="button" title="Move datasets to cold storage (delete)" disabled v-show="!selectedDsets.length">Retire datasets</a>
                        <a class="button" title="Move datasets to active storage (undelete)" v-on:click="reactivateDataset" v-show="selectedDsets.length">Reactivate datasets</a>
                        <a class="button" title="Move datasets to active storage (undelete)" disabled v-show="!selectedDsets.length">Reactivate datasets</a>
    {% endverbatim %}
{% if user.is_staff %}
                        <a class="button" title="PERMANENTLY delete datasets from active and cold storage" v-on:click="purgeDatasets" v-show="selectedDsets.length">Purge datasets</a>
                        <a class="button" title="PERMANENTLY delete datasets from active and cold storage" disabled v-show="!selectedDsets.length">Purge datasets</a>
{% endif %}
    {% verbatim %}
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" v-model="allSelector" v-on:click="selectAll"></th>
						<th></th>
						<th></th>
						<th>Project type</th>
						<th>Stored</th>
		<th><span class="icon is-small"><i class="fa fa-hourglass-half"/></span></th>
						<th>Project</th>
						<th>Experiment</th>
						<th>Run</th>
						<th>Creator</th>
						<th>Datatype</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="ds in datasets">
		                        <tr>
						<td><input type="checkbox" v-bind:value="ds.id" v-model="selectedDsets"> </td>
						<td>
							<a v-on:click="toggleDset(ds.id)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td>
								<a v-bind:href="'/datasets/show/' + ds.id">
							<span v-if="ds.own" class="icon has-text-info is-small">
									<i class="fa fa-edit"></i>
							</span>
							<span v-else-if="!ds.own" class="icon has-text-grey-light is-small">
									<i class="fa fa-edit"></i>
							</span>
								</a>
						</td>
						<td>{{ ds.ptype }}</td>
            <td>
               <span class="tag" v-bind:class="storecolors[ds.storestate]">{{ ds.storestate }}</span>
           </td>
		<td><span v-for="state in ds.jobstates" v-bind:class="jobTaskStateColor(state)" class="icon is-small"><i class="fa fa-square"/></span></td>
						<td v-for="name in [ds.proj, ds.exp, ds.run, ds.usr]">
							<del v-if="ds.deleted">{{ name }}</del>
							<span v-if="!ds.deleted">{{ name }}</span>
                                                </td>
						<td>
							<span v-if="!ds.prefrac">{{ ds.dtype }}</span>
							<span v-else-if="ds.hr">{{ ds.hr }}</span>
							<span v-else-if="ds.prefrac">{{ ds.prefrac }}</span>
						</td>
					</tr>
		<template v-if="ds.details !== false">
                <tr><td></td><td colspan="9"> <span class="has-text-weight-bold">Storage location:</span><span> {{ ds.details.storage_loc }} </span></td></tr>
		<td></td>
		<td colspan="4">
		<div>{{ ds.details.nrrawfiles }} claimed files</div>
		<div v-for="(nrfiles, ftype) in ds.details.nrstoredfiles">{{ nrfiles }} stored files of type {{ ftype }}</div>
		{{ ds.details.nrbackupfiles }} backed up files
		<div v-if="ds.details.mzmlable === 'ready'"><a class="button is-small is-primary" v-on:click="createRefineMzml('create', ds.id)">Create (missing) mzMLs</a></div>
		<div v-if="ds.details.mzmlable === 'blocked'" ><a class="button is-small is-primary" disabled>mzML job running</a></div>
		<div v-if="ds.details.refinable === 'ready' || ds.details.refinable === 'partly'"><a class="button is-small is-primary" v-on:click="createRefineMzml('refine', ds.id)">Create refined mzMLs</a></div>
		<div v-if="ds.details.refinable === 'blocked'"><a class="button is-small is-primary" disabled>Create refined mzMLs</a></div>
		</td>
		<td colspan="2">
		<div v-for="(state, comp) in ds.details.compstates">
		<span class="has-icon" v-if="state !== undefined">
                                                               <i v-if="state === 'ok'" class="fa fa-check has-text-success"></i>
                                                               <i v-else-if="state !== 'ok'" class="fa fa-times has-text-danger"></i>
		{{ comp }}</span>
                                                       <span v-if="state === undefined">
                                                               &#x25AC;
		{{ comp }}                              </span>

		</div>
		</td>
		<td>
		<div v-for="job in ds.details.jobs">
			<a v-if="job.state==='error' && job.retry" v-on:click="retryJob(job.id)" class="button is-small is-outlined is-danger">Retry {{ job.name }}</a>
					<span v-else-if="job.state==='error'" class="tag is-danger">{{ job.name }}</span>
					<span v-if="job.state==='processing'" class="tag is-warning">{{ job.name }}</span>
					<span v-if="job.state==='pending'" class="tag is-warning">{{ job.name }}</span>
					<span v-if="job.state==='wait'" class="tag is-grey-light">{{ job.name }}</span>
			</div>
		</td>
		<td colspan="2">
<div class="has-text-weight-bold">Owners</div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control" v-for="(owner, user_id) in ds.details.owners">
      <div class="tags has-addons">
        <span class="tag is-light">{{ owner }}</span>
        <a class="tag is-info is-delete" v-on:click="removeOwner(ds, user_id)"></a>
      </div>
    </div>
  </div>

<div class="field"><div class="control">
  <div class="select">
    <select v-model="ds.details.owner_to_add" v-on:change="addOwner(ds)">
      <option disabled value="">Add an owner</option>
      <option v-for="user_id in new_owners(allowners, ds.details.owners)" :value="user_id">{{ allowners[user_id] }}</option>
  </select>
  </div>
</div></div>
                </td>
		</template>
		                        </template>
				</tbody>
			</table>
		</div><!-- container dsets end -->
		`,
		data: function() {
			return {
				datasets: {},
				findDsQuery: '',
				allSelector: false,
				searchdeleted: false,
 				storecolors: {'cold': 'is-info', 'purged': 'is-danger', 'complete': 'is-success', 'active-only': 'is-warning', 'new': 'is-warning', 'broken': 'is-light'},
				selectedDsets: [],
                                allowners: {},
		{% endverbatim %}
                                initialDsids: [{{ dsids|join:',' }} ],
		{% verbatim %}
				}
		},
		mounted: function() {
			this.fetchDatasets(this.initialDsids);
		},
		methods: {
		  new_owners: function(allowners, oldowners) {
                    difference = Object.keys(allowners).concat(Object.keys(oldowners)).reduce(function(r, cur) {
                      if (!r.delete(cur)) {
                        r.add(cur);
                      } return r}, new Set());
                    return Array.from(difference);
		  },
		  addOwner: function(dset) {
                    if (dset.details.owner_to_add) {
                      this.$http.post(`datasets/save/owner/`, {'dataset_id': dset.id, 'op': 'add', 'owner': dset.details.owner_to_add})
   	                .then(response => {
   		          return response
   	                }, response => {
   		          console.log(response);
   		          // error code
   	                }).then(result => {
   		          this.dsetInfo(dset.id);
   	                })
		    }
		  },
		  removeOwner: function(dset, user_id) {
                    this.$http.post(`datasets/save/owner/`, {'dataset_id': dset.id, 'op': 'del', 'owner': user_id})
   	              .then(response => {
   		        return response
   	              }, response => {
   		        console.log(response);
   		        // error code
   	              }).then(result => {
   		        this.dsetInfo(dset.id);
   	              })
		  },
			createRefineMzml: function(func, ds_id) {
				this.$http.get(`/${func}mzml/${ds_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.dsetInfo(ds_id);
				})
			},
			refineMzml: function(ds_id) {
				this.$http.get(`/refinemzml/${ds_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.dsetInfo(ds_id);
				})
			},
			analyzeDatasets: function() {
					window.open(`/analysis/init?dsids=${this.selectedDsets.join(',')}`, '_blank');
			},
			archiveDataset: function() {
				for (dset_id of this.selectedDsets) {
					this.$http.post('/archive/dataset/', {'dataset_id': dset_id})
					.then(response => {
						return response
					}, response => {
						console.log(response);
						// error code
					}).then(result => {
						this.datasets[dset_id].deleted = true;
					})
				}
			},
			reactivateDataset: function() {
				for (dset_id of this.selectedDsets) {
					this.$http.post('/undelete/dataset/', {'dataset_id': dset_id})
					.then(response => {
						return response
					}, response => {
						console.log(response);
						// error code
					}).then(result => {
						this.datasets[dset_id].deleted = true;
					})
				}
			},
			purgeDatasets: function() {
				for (dset_id of this.selectedDsets) {
					this.$http.post('/purge/dataset/', {'dataset_id': dset_id})
					.then(response => {
						return response
					}, response => {
						console.log(response);
						// error code
					}).then(result => {
						this.datasets[dset_id].deleted = true;
					})
				}
			},
      retryJob: function(job_id) {
				this.$http.post(`jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.dsetInfo(ds_id);
				})
      },
			fetchDatasets: function(dsids) {
				url = '/show/datasets/'
				url = dsids.length ? url + `?dsids=${dsids.join(',')}` : url;
				this.$http.get(url)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.datasets = result['dsets'];
					this.allowners = result['allowners'];
 
				})
			},
			findDatasets: function() {
				this.$http.get('/find/datasets/',
					{params: {deleted: this.searchdeleted, q: this.findDsQuery.split(' ').join(',') }})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.datasets = result['dsets'];
					}
				})
			},
			selectAll: function() {
				this.selectedDsets = [];
				this.allSelector = this.allSelector === false;
				if (!this.allSelector) {
					return;
				}
				for (key in this.datasets) {
				        this.selectedDsets.push(this.datasets[key].id);
				}
			},
			toggleDset: function(ds_id) {
				if (!this.datasets[ds_id].details) {
					this.dsetInfo(ds_id);
				} else {
					this.datasets[ds_id].details = false
				}
			},
			dsetInfo: function(ds_id) {
				this.$http.get(`/show/dataset/${ds_id}`)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.datasets[ds_id].details = result;
				})
			},
			jobTaskStateColor: function(state) {
 				statecolors = {'wait': 'has-text-grey-light', 'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning', 'done': 'has-text-success'};
				return statecolors[state]
			},
		},
	})
	{% endverbatim %}
	Vue.component('main-box', {
		template: `
		<div class="content">
			<div class="tabs is-toggle is-centered is-small">
				<ul>
					<li v-bind:class="tabclass_datasets">
						<a v-on:click="showDatasets"><span>Datasets</span></a>
					</li>
					<li v-bind:class="tabclass_projects">
						<a v-on:click="showProjects"><span>Projects</span></a>
					</li>
					<li v-bind:class="tabclass_samples">
						<a v-on:click="showSamples"><span>Samples (TBD)</span></a>
					</li>
					<li v-bind:class="tabclass_searches">
						<a v-on:click="showSearches"><span>Analyses</span></a>
					</li>
					<li v-bind:class="tabclass_files">
						<a v-on:click="showFiles"><span>Files</span></a>
					</li>
					<li v-bind:class="tabclass_jobs">
						<a v-on:click="showJobs"><span>Jobs</span></a>
					</li>
				</ul>
			</div>
		<dataset-box v-show="tabclass_datasets!==''"></dataset-box>
		<project-box v-show="tabclass_projects!==''"></project-box>
		<search-box v-show="tabclass_searches!==''"></search-box>
		<jobs-box v-show="tabclass_jobs!==''"></jobs-box>
		<file-box v-show="tabclass_files!==''"></file-box>
		</div>
		`,
		data: function() {
			return {
				datasets: {},
				findDsQuery: '',
				tabclass_datasets: '',
				tabclass_projects: '',
				tabclass_searches: '',
				tabclass_jobs: '',
				tabclass_files: '',
                                initialTab: "{{ tab }}",
				}
		},
		mounted: function() {
			this.activateTabClass('tabclass_' + this.initialTab);
		},
		methods: {
			showDatasets: function() {
				this.activateTabClass('tabclass_datasets');
			},
			showProjects: function() {
				this.activateTabClass('tabclass_projects');
			},
			showSearches: function() {
				this.activateTabClass('tabclass_searches');
			},
			showJobs: function() {
				this.activateTabClass('tabclass_jobs');
			},
			showFiles: function() {
				this.activateTabClass('tabclass_files');
			},
			activateTabClass: function(tabname) {
				tabs = ['tabclass_datasets', 'tabclass_projects', 'tabclass_searches', 'tabclass_jobs', 'tabclass_files'];
				for (offtab of tabs) {
					this[offtab] = '';
					}
				this[tabname] = 'is-active';
			},
		},
	})
	Vue.component('project-box', {
		template: `
        <div class="content is-small" >
					<input type="checkbox" v-model="searchinactive">Include inactive projects
        <a href="#" v-on:click="fetchItems(showAllUrl, {})">Show all projects</a>
    <a href="#" v-on:click="fetchItems(showAllUrl, {userproj: true})">Show projects including my datasets</a>
        <input class="input is-small" v-on:keyup.13="findItems" v-model="findQuery" type="text" placeholder="Type a query and press enter to find projects">
                        <a class="button" title="Moves datasets to cold storage, deletes mzML" disabled v-show="!selectedItems.length">Retire projects</a>
                        <a class="button" title="Moves datasets to cold storage, deletes mzML" v-on:click="retireProjects" v-show="selectedItems.length">Retire projects</a>
                        <a class="button" title="Moves datasets to active storage" disabled v-show="!selectedItems.length">Reactivate projects</a>
                        <a class="button" title="Moves datasets to active storage" v-on:click="reactivateProjects" v-show="selectedItems.length">Reactivate projects</a>
{% if user.is_staff %}
                        <a class="button" title="PERMANENTLY deletes datasets from active and cold storage" disabled v-show="!selectedItems.length">Purge projects</a>
                        <a class="button" title="PERMANENTLY deletes datasets from active and cold storage" v-on:click="purgeProjects" v-show="selectedItems.length">Purge projects</a>
{% endif %}
	{% verbatim %}
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th><input type="checkbox" v-model="allSelector" v-on:click="selectAll"></th>
						<th v-for="f in itemdatafields">{{ f }}</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="itkey in order">
                    <tr>
						<td>
							<a v-on:click="toggleItem(itkey)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td><input type="checkbox" v-bind:value="itkey" v-model="selectedItems"> </td>
						<td v-for="key in itemdatakeys">
							<del class="has-text-grey" v-if="!items[itkey].active">{{ items[itkey][key] }}</del>
							<span v-else>{{ items[itkey][key] }}</span>
						</td>
					</tr>

        <template v-if="items[itkey].details !== false">
        <tr><td></td><td colspan="6"> <span class="has-text-weight-bold">Storage amount:</span><span> {{ items[itkey].details.stored_total_xbytes }} </span></td></tr>
		<td></td>
		<td colspan="2">
        <div>{{ items[itkey].details.nrrawfiles }} claimed files from instrument(s): <b>{{ items[itkey].details.instruments.join(', ') }}</b></div>
        <div v-for="(nrfiles, ftype) in items[itkey].details.nrstoredfiles">{{ nrfiles }} stored files of type {{ ftype }} ({{ items[itkey].details.stored_bytes[ftype] }})</div>
		{{ items[itkey].details.nrbackupfiles }} backed up files
		</td>
		<td colspan="2">
      <div class="has-text-weight-bold">Owners</div>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control" v-for="(owner, user_id) in items[itkey].details.owners">
            <div class="tags has-addons">
              <span class="tag is-primary">{{ owner }}</span>
            </div>
          </div>
        </div>
      </div>
		</td>

		<td colspan="2">
		</td>

		</template>

                </template>
				</tbody>
			</table>

        </div>`,
        data: function() {
			return {
				searchUrl: '/find/projects/',
				showAllUrl: '/show/projects/',
				showItemUrl: '/show/project/',
        purgeUrl: '/purge/project/',
				itemdatafields: ['Name', 'Type', 'Registered', 'Last active'],
				itemdatakeys: ['name', 'ptype', 'start', 'lastactive'],
				items: {},
                order: [],
				findQuery: '',
				allSelector: false,
				searchinactive: false,
				selectedItems: [],
				{% endverbatim %}initialProjIds: [{{ projids|join:',' }} ],{% verbatim %}
			}
		},
		mounted: function() {
			params = this.initialProjIds.length ? {'ids': this.initialProjIds.join(',')}: {};
			this.fetchItems(this.showAllUrl, params);
		},
		methods: {
			fetchItems: function(url, params) {
        let getparams = {
          showinactive: this.searchinactive,
          userproj: false,
        };
        Object.assign(getparams, params);
				this.$http.get(url,
					{params: getparams})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items = result['items'];
					this.order = result['order'];
				})
			},
      retireProjects: function() {
        for (proj_id of this.selectedItems) {
          this.$http.post('/archive/project/', {'proj_id': proj_id})
            .then(response => {
						return response
					}, response => {
						console.log(response);
						// error code
					}).then(result => {
            this.refreshAll();
					});
				}
      },
      reactivateProjects: function() {
        for (proj_id of this.selectedItems) {
          this.$http.post('/undelete/project/', {'proj_id': proj_id})
            .then(response => {
						return response
					}, response => {
						console.log(response);
						// error code
					}).then(result => {
            this.refreshAll();
					});
				}
      },
      purgeProjects: function() {
          for (proj_id of this.selectedItems) {
              if (this.items[proj_id].deleted) {
                  this.$http.post(this.purgeUrl, {'proj_id': proj_id})
                  .then(response => {
                      return response
                  }, response => {
                      console.log(response);
                      // error code
                  }).then(result => {
                      this.refreshAll();
                  })
              }
          }
      },
			selectAll: function() {
				this.selectedItems = [];
				this.allSelector = this.allSelector === false;
				if (!this.allSelector) {
					return;
				}
				for (key in this.items) {
				        this.selectedItems.push(key);
				}
			},
			refreshAll: function() {
				ids = Object.keys(this.items);
                    this.fetchItems(this.showAllUrl, {'ids': ids.join(',')});
                },
                findItems: function() {
                    this.$http.get(this.searchUrl,
                        {params: {inactive: this.searchinactive, q: this.findQuery.split(' ').join(',') }})
                    .then(response => {
                        return response.json()
                    }, response => {
                    }).then(result => {
                        for (key in result) {
                            this.items = result['items'];
                            this.order = result['order'];
                        }
                    })
                },
                toggleItem: function(id) {
                  if (!this.items[id].details) {
					this.getItemInfo(id);
				  } else {
					this.items[id].details = false
				  }
			},
			getItemInfo: function(id) {
				this.$http.get(this.showItemUrl + id)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items[id].details = result;
				})
			},
			jobTaskStateColor: function(state) {
 				statecolors = {'wait': 'has-text-grey-light', 'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning', 'done': 'has-text-success'};
				return statecolors[state]
			},
		},
	})
	{% endverbatim %}

	Vue.component('search-box', {
		template: `
		<div class="content is-small" >
			<input type="checkbox" v-model="searchdeleted">Search deleted analyses
			<input class="input is-small" v-on:keyup.13="findItems" v-model="findQuery" type="text" placeholder="Type a query and press enter to find analyses">
                        <a class="button" v-on:click="deleteAnalyses" v-show="selectedItems.length">Delete analyses</a>
                        <a class="button" disabled v-show="!selectedItems.length">Delete analyses</a>
                        <a class="button" v-on:click="unDeleteAnalyses" v-show="selectedItems.length">Undelete analyses</a>
                        <a class="button" disabled v-show="!selectedItems.length">Undelete analyses</a>
{% if user.is_staff %}
                        <a class="button" v-on:click="purgeAnalyses" v-show="selectedItems.length">Purge analyses</a>
                        <a class="button" disabled v-show="!selectedItems.length">Purge analyses</a>
{% endif %}
                        <a class="button" v-on:click="toggleUploadWindow">Upload FASTA</a>
	{% verbatim %}
    <div :class="{'is-active': upwindisplay}" ref="uploadmodal" @keyup.esc="toggleUploadWindow" tabindex="-1" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
    <h5 class="title is-5">Upload FASTA files</h5>
    <div class="field">
    <div class="file has-name is-fullwidth">
      <label class="file-label">
        <input @change="showUploadFile" ref="upfasta" class="file-input" type="file" name="resume"> <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file...
    </span>
    </span>
          <span class="file-name">
    <span class="has-icon" v-show="uploadSuccess"><i class="fa fa-check has-text-success"></i></span>
    <span class="has-icon" v-show="uploadError"><i class="fa fa-times has-text-danger"></i></span>
    <span class="has-icon" v-show="uploadRunning"><i class="fa fa-spinner fa-spin"></i></span>
   {{ upfasta.name }} 
    </span>
      </label>
    </div>
    </div>

	<div class="field">
    <div class="control">
        <div class="select">
        <select v-model="upload_ftypeid">
    <option>Select filetype</option>
    <option v-for="(ftype, ftype_id) in upload_ftypes" :value="ftype_id">{{ ftype }}</option>
        </select>
        </div>
	</div>
	</div>
	<div class="field">
    <div class="control">
    <input class="input" v-model="uploaddesc" type="text" placeholder="Description">
	</div>
	</div>

      <div class="has-text-danger" v-if="uploadError">{{ uploadError }}</div>
    <a class="button is-small" v-show="!upfasta" disabled>Upload file</a>
    <a class="button is-small" @click="doUploadFile" v-show="upfasta">Upload</a>
        </div>
      </div>
      <button v-on:click="toggleUploadWindow" class="modal-close is-large" aria-label="close"></button>
    </div>

			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th><input type="checkbox" v-model="allSelector" v-on:click="selectAll"></th>
						<th><span class="icon is-small"><i class="fa fa-hourglass-half"/></span></th>
						<th v-for="f in itemdatafields">{{ f }}</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="itkey in order">
		                        <tr>
						<td>
							<a v-on:click="toggleItem(itkey)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td><input type="checkbox" v-bind:value="itkey" v-model="selectedItems"> </td>
						<td>
							<span v-for="state in items[itkey].jobstates" v-bind:class="jobTaskStateColor(state)" class="icon is-small"><i class="fa fa-square"/></span>
						</td>
						<td v-for="key in itemdatakeys">
							<del class="has-text-grey" v-if="items[itkey].purged">{{ items[itkey][key] }}</del>
							<del v-else-if="items[itkey].deleted">{{ items[itkey][key] }}</del>
							<span v-else>{{ items[itkey][key] }}</span>
						</td>
					</tr>
					<details-box :details="items[itkey].details" :nfs_id="items[itkey].id" v-on:refreshItem="refreshAll" v-if="items[itkey].details !== false"></details-box>
				</template>
				</tbody>
			</table>
		</div>
		`,
            data: function() {
                return {
                    searchUrl: '/find/analyses/',
                    purgeUrl: '/analysis/purge/',
                    deleteUrl: '/analysis/delete/',
                    unDeleteUrl: '/analysis/undelete/',
                    showAllUrl: '/show/analyses/',
                    showItemUrl: '/show/analysis/',
                    uploadUrl: '/files/upload/userfile/',
                    itemdatafields: ['Analysis name', 'Workflow', 'User', 'Date'],
                    itemdatakeys: ['name', 'wf', 'usr', 'date'],
                    items: {},
                                    order: [],
                    findQuery: '',
                    allSelector: false,
                    searchdeleted: false,
                    selectedItems: [],
                    upwindisplay: false,
                    upfasta: false,
                    uploadSuccess: false,
                    uploadRunning: false,
                    uploadError: false,
                    uploaddesc: '',
                    upload_ftypeid: false,
                    upload_ftypes: {},
                    {% endverbatim %}
                            initialAnalysisIds: [{{ anids|join:',' }} ],
                    {% verbatim %}
                }
            },
            mounted: function() {
                console.log(this.initialAnalysisIds);
                params = this.initialAnalysisIds.length ? {'ids': this.initialAnalysisIds.join(',')}: {};
                this.fetchItems(this.showAllUrl, params);
            },
            methods: {
                fetchItems: function(url, getparams) {
                    this.$http.get(url,
                        {params: getparams})
                    .then(response => {
                        return response.json()
                    }, response => {
                    }).then(result => {
                        this.items = result['items'];
                        this.order = result['order'];
                        this.upload_ftypes = result['upload_ftypes'];
                    })
                },
                selectAll: function() {
                    this.selectedItems = [];
                    this.allSelector = this.allSelector === false;
                    if (!this.allSelector) {
                        return;
                    }
                    for (key in this.items) {
                            this.selectedItems.push(key);
                    }
                },
                refreshAll: function() {
                    ids = Object.keys(this.items);
                    this.fetchItems(this.showAllUrl, {'ids': ids.join(',')});
                },
                findItems: function() {
                    this.$http.get(this.searchUrl,
                        {params: {deleted: this.searchdeleted, q: this.findQuery.split(' ').join(',') }})
                    .then(response => {
                        return response.json()
                    }, response => {
                    }).then(result => {
                        for (key in result) {
                            this.items = result['items'];
                            this.order = result['order'];
                        }
                    })
                },
                unDeleteAnalyses: function() {
                    for (ana_id of this.selectedItems) {
                        this.$http.post(this.unDeleteUrl, {'analysis_id': ana_id})
                        .then(response => {
                            return response
                        }, response => {
                            console.log(response);
                            // error code
                        }).then(result => {
                            this.items[ana_id].deleted = false;
                        })
                    }
                },
                deleteAnalyses: function() {
                    for (ana_id of this.selectedItems) {
                        this.$http.post(this.deleteUrl, {'analysis_id': ana_id})
                        .then(response => {
                            return response
                        }, response => {
                            console.log(response);
                            // error code
                        }).then(result => {
                            this.items[ana_id].deleted = true;
                        })
                    }
                },
                purgeAnalyses: function() {
                    for (ana_id of this.selectedItems) {
                        if (this.items[ana_id].deleted) {
                            this.$http.post(this.purgeUrl, {'analysis_id': ana_id})
                            .then(response => {
                                return response
                            }, response => {
                                console.log(response);
                                // error code
                            }).then(result => {
                                this.items[ana_id].purged = true;
                            })
                        }
                    }
                },
                toggleItem: function(id) {
                    if (!this.items[id].details) {
                        this.getItemInfo(id);
                    } else {
                        this.items[id].details = false
                    }
                },
                getItemInfo: function(id) {
                    this.$http.get(this.showItemUrl + id)
                    .then(response => {
                        return response.json()
                    }, response => {
                    }).then(result => {
                        this.items[id].details = result;
                    })
                },
                jobTaskStateColor: function(state) {
                    statecolors = {'wait': 'has-text-grey-light', 'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning', 'done': 'has-text-success'};
                    return statecolors[state]
                },
                toggleUploadWindow: function() {
                    this.upwindisplay = this.upwindisplay === false;
                },
                showUploadFile: function() {
                    this.uploadSuccess = false;
                    this.upfasta = this.$refs.upfasta.files[0];
                },
                doUploadFile: function() {
                    fdata = new FormData();
                    fdata.append('file', this.upfasta);
                    fdata.append('desc', this.uploaddesc);
                    fdata.append('ftype_id', this.upload_ftypeid);
                    this.uploadRunning = true;
                    this.uploadError = false;
                    this.uploadSuccess = false;
                    fetch(this.uploadUrl, {
                        method: 'POST',
                        body: fdata,
                        credentials: 'same-origin',
                    })
                        .then(response => response.json())
                        .then(response => {
                            this.uploadRunning = false;
                            this.uploadSuccess = response['success'];
                            this.uploadError = response['error'];
                        })
                        .catch(err => console.log('An error occurred', err));
                    
                },
            },
        })

    Vue.component('jobs-box', {
		template: `
		<div class="content is-small" >
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th><a v-on:click="refreshAll()"><span class="icon is-small has-text-info"><i class="fa fa-redo"/></span></a></th>
						<th><span class="icon is-small"><i class="fa fa-hourglass-half"/></span></th>
						<th v-for="f in itemdatafields">{{ f }}</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="itkey in order">
		                        <tr>
						<td>
							<a v-on:click="toggleItem(itkey)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td>
							<a v-on:click="refreshItem(items[itkey].id)"><span class="icon is-small has-text-info"><i class="fa fa-redo"/></span></a>
						</td>
						<td>
							<span v-bind:title="'Job state: ' + items[itkey].state" v-bind:class="jobTaskStateColor(items[itkey].state)" class="icon is-small"><i class="fa fa-square"/></span>
						</td>
						<td v-for="key in itemdatakeys">{{ items[itkey][key] }}</td>
						<td>
                                                    <span v-if="!items[itkey].wantToDelete" v-for="act in items[itkey].actions"><a href="#" v-on:click="actOnJob(act, items[itkey].id)">{{ act.slice(0,1).toUpperCase() }}{{ act.slice(1) }}</a>&nbsp; </span>
                                                    <span v-show="items[itkey].wantToDelete"><a v-on:click="doNotDelete(items[itkey].id)">No don't delete!</a></span>
                                                    <span v-show="items[itkey].wantToDelete"><a v-on:click="sureDeleteJob(items[itkey].id)">Yes, delete job</a></span></td>
					</tr>
                                        <tr v-if="items[itkey].details !== false">
                                            <td></td><td :colspan="7">
                                                <div class="columns"> 
 <div class="column">
                                                    <div v-if="items[itkey].details.errmsg">
                                                        <h5 class="title is-5">Error message</h5>
                                                        {{ items[itkey].details.errmsg }} 
                                                    </div>
                                                <h5 class="title is-5">Details</h5>
                                                    <div>Created: {{ items[itkey].details.time }} </div>
                                                    <div>{{ items[itkey].details.files }} files </div>
                                                    <div v-if="items[itkey].details.analysis">Analysis name: {{ items[itkey].details.analysis }} </div>
                        	                    <span class="tag is-danger">{{ items[itkey].details.tasks.error }}</span>
                        	                    <span class="tag is-warning">{{ items[itkey].details.tasks.procpen }}</span>
                        	                    <span class="tag is-success">{{ items[itkey].details.tasks.done }}</span>
                        		    </div>
                        		    <div class="column">
                        			<h5 class="subtitle is-5">Errored tasks</h5>
                                                <div v-if="items[itkey].details.errors.length === 0"><strong>-</strong></div>
                                                <div v-for="err in items[itkey].details.errors">
                                                    <div><strong>Task args</strong>: {{ err.args }}</div>
                                                    <div><strong>Error</strong>: {{ err.msg }}</div>
                                                    <hr>
                        			</div>
                        		    </div>
                        		</td>
                        </tr>
				</template>
				</tbody>
			</table>
		</div>
		`,
		data: function() {
			return {
				showAllUrl: '/show/jobs/',
				showItemUrl: '/show/job/',
				refreshItemUrl: '/refresh/job/',
				itemdatafields: ['Job name', 'Users', 'Date', 'Actions'],
				itemdatakeys: ['name', 'usr', 'date'],
				items: {},
                                order: [],
				findQuery: '',
				{% endverbatim %}
						initialIds: [{{ jobids|join:',' }} ],
				{% verbatim %}
			}
		},
		mounted: function() {
			console.log(this.initialIds);
			params = this.initialIds.length ? {'ids': this.initialIds.join(',')}: {};
			this.fetchItems(this.showAllUrl, params);
		},
		methods: {
			fetchItems: function(url, getparams) {
				this.$http.get(url,
					{params: getparams})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items = result['items'];
					this.order = result['order'];
				})
			},
			refreshAll: function() {
			        params = this.initialIds.length ? {'ids': this.initialIds.join(',')}: {};
			        this.fetchItems(this.showAllUrl, params);
				//ids = Object.keys(this.items);
 				//this.fetchItems(this.showAllUrl, {'ids': ids.join(',')});
			},
			refreshItem: function(id) {
				this.$http.get(this.refreshItemUrl + id)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items[id] = Object.assign(this.items[id], result);
				})
			},
			toggleItem: function(id) {
				if (!this.items[id].details) {
					this.getItemInfo(id);
					this.refreshItem(id);
				} else {
					this.items[id].details = false
				}
			},
			getItemInfo: function(id) {
				this.$http.get(this.showItemUrl + id)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items[id].details = result;
				})
			},
                        actOnJob: function(act, job_id) {
                            actionmap = {'retry': this.retryJob,
                                         'force retry': this.retryJob,
                                         'delete': this.deleteJob,
                                        }
                            actionmap[act](job_id);
		   	    this.refreshItem(job_id);
                        },
                        deleteJob: function(job_id) {
                            this.items[job_id].wantToDelete = true;
		   	    this.refreshItem(job_id);
                        },
                        sureDeleteJob: function(job_id) {
                            this.$http.post(`jobs/delete/${job_id}`)
                            .then(response => {
                            	return response
                            }, response => {
                            	console.log(response);
                            	// error code
                            }).then(result => {
		   	        this.refreshAll();
                                return;
                            })
                        },
                        doNotDelete: function(job_id) {
                            this.items[job_id].wantToDelete = false;
		   	    this.refreshItem(job_id);
                        },
                        retryJob: function(job_id) {
				this.$http.post(`jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
                                    return;
				})
                        },
			jobTaskStateColor: function(state) {
 				statecolors = {'wait': 'has-text-grey-light', 'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning', 'done': 'has-text-success'};
				return statecolors[state]
			},
		},
	})
	Vue.component('details-box', {
		props: ['details', 'nfs_id'],
		template: `
                <tr><td></td><td :colspan="3">
                    <h5 class="title is-5">Output</h5>
                        <div v-if="details.servedfiles.length>0" v-for="link in details.servedfiles">
                            <a :href="'analysis/showfile/' + link[1]" target="_blank">{{ link[0] }}</a>
                        </div>
 			<div v-if="details.storage_locs.length>0" v-for="loc in details.storage_locs">
                            <div><span class="tag is-success">Server</span>{{ loc.server }}</div><div><span class="tag is-success">Folder</span> {{ loc.path }}</div>
                        </div>
 			<div v-if="details.storage_locs.length===0">No output (yet)</div>
<hr>
                    <h5 class="title is-5">Pipeline parameters</h5>
        <p v-for="param in details.invocation.files"><code><{{ param[0] }}</code>: {{ param[2] }} ( {{param[1] }} )</code></p>
<p>Other parameters: <code>{{ details.invocation.params.join(' ') }}<code></p>
        <div v-if="'sampletable' in details.invocation">
            <h6 class="title" >Samples:</h6> 
            <table class="table">
                <thead>
                    <tr>
        <th>Channel</th>
        <th>Sample set</th>
        <th>Sample name</th>
        <th>Sample group</th>
                    </tr>
                </thead>
                <tbody>
        <tr v-for="sample in details.invocation.sampletable">
        <td v-for="txt in sample">{{ txt }}</td>
        </tr>
                </tbody>
            </table>
        </div>
<hr>
                    <h5 class="title is-5">Analysis log</h5>
                    <a v-if="details.log[0].slice(0,16) !== 'Analysis without'" :href="'analysis/log/' + nfs_id" class="is-size-7" target="_blank">Click for full log</a>
 			<div v-for="line in details.log">{{ line }}</div>
		</td>
		<td colspan="3">
			<h5 class="subtitle is-5" v-if="Object.keys(details.jobs).length">Jobs</h5>
			<div v-for="job in details.jobs">
				<a v-if="job.state==='error' && job.retry" v-on:click="retryJob(job.id)" class="button is-small is-outlined is-danger">Retry {{ job.name }}</a>
						<span v-else-if="job.state==='error'" class="tag is-danger">{{ job.name }}</span>
						<span v-if="job.state==='processing'" class="tag is-warning">{{ job.name }}</span>
						<span v-if="job.state==='pending'" class="tag is-warning">{{ job.name }}</span>
			</div>
                        <section>
			<h5 class="subtitle is-5 has-text-weight-bold">Input data</h5>
			<div>Workflow version commit <a target="_blank" v-bind:href="wfrepo">{{ details.wf.commit.slice(0,8) }}...</a></div>
 			<div><a v-bind:href="'?tab=datasets&dsids='+details.dsets.join(',')" target="_blank">{{ details.dsets.length }} datasets</a> from project(s) <span v-for="proj in details.proj">{{ proj.name }} </span></div>
 			<div v-if="details.quants">Quant type: {{ details.quants.join(', ') }}</div>
 			<div>{{ details.nrfiles }} rawfiles analysed</div>
                        </section>
		</td>
</tr>
		`,
		data: function() {
			return {}
		},
		methods: {
                        retryJob: function(job_id) {
				this.$http.post(`jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					// make event signal this.dsetInfo(ds_id);
					this.$emit('refreshItem');
				})
                        },
			                
		},
		computed: {
			wfrepo: function() {
				return [this.details.wf.repo, 'blob', this.details.wf.commit, this.details.wf.fn].join('/');
			},
		},

	})

	{% endverbatim %}

	var dashboard = new Vue({
	el: '#apps',
	data: function() {
		return { 
		}
	},
})
</script>
{% endblock content %}
