{% extends "base.html" %}
{% block content %}
<section id="apps">
<div class="container">
<main-box></main-box>
</div>
</section>
<script>
	{% verbatim %}
	Vue.component('file-box', {
		template: `
			<div class="content is-small" >
					<input type="checkbox" v-model="searchdeleted">Search deleted files 
			<input class="input is-small" v-on:keyup.13="findItems" v-model="findQuery" type="text" placeholder="Type a query and press enter to find analyses">
			<div>Showing {{ Object.keys(files).length }} files</div>
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" v-model="allSelector" v-on:click=""></th>
						<th></th>
						<th>File</th>
						<th>Date</th>
						<th>Stored</th>
						<th>Backed up</th>
						<th>Belongs</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="fn in orderedfiles">
<tr v-if="!fn.deleted">
<td></td>
<td>
	<a v-on:click="toggleFile(fn.id)">
		<span class="has-text-info icon is-small">
		<i class="fa fa-eye" />
		</span>
	</a>
</td>
<td>{{ fn.name }}</td>
<td>{{ fn.date }}</td>
<td>
    <span class="tag is-info" v-if="fn.stored">{{ fn.stored }}</span>
    <span v-else>-</span>
</td>
<td>
    <span class="has-icon" v-if="fn.backup"><i class="fa fa-check has-text-success"></i></span>
    <span v-else>-</span>
</td>
<td>{{ fn.owner }}</td>
<td>{{ fn.ftype }}</td>
</tr>
<tr v-else>
<td></td>
<td></td>
<td><s>{{ fn.name }}</s></td>
<td><s>{{ fn.date }}</s></td>
<td>-</td>
<td>-</td>
<td><s>{{ fn.owner }}</s></td>
<td><s>{{ fn.ftype }}</s></td>
</tr>

<template v-if="fn.details !== false">
<tr><td></td><td colspan="7">
<div v-if="fn.details.path"><span class="has-text-weight-bold">Storage location:</span> {{ fn.details.path }} </div>
<div>
    <a v-if="fn.details.dataset" v-bind:href="'?tab=datasets&dsids='+fn.details.dataset" target="_blank"><span class="tag is-info">Dataset</span></a> 
    <a v-if="fn.details.analyses" v-bind:href="'?tab=searches&anids='+fn.details.analyses.join(',')" target="_blank"><span class="tag is-primary">Analyses</span></a> 
</div>
</td>
<!--
		<div v-for="job in ds.details.jobs">
			<a v-if="job.state==='error' && job.retry" v-on:click="retryJob(job.id)" class="button is-small is-outlined is-danger">Retry {{ job.name }}</a>
					<span v-else-if="job.state==='error'" class="tag is-danger">{{ job.name }}</span>
					<span v-if="job.state==='processing'" class="tag is-warning">{{ job.name }}</span>
					<span v-if="job.state==='pending'" class="tag is-warning">{{ job.name }}</span>
			</div>
-->
</tr>
		</template>
				</template>
				</tbody>
			</table>
</div>
`,
		data: function() {
			return {
				files: {},
                                order: [],
				findQuery: '',
				allSelector: false,
				searchdeleted: false,
				searchUrl: '/find/files/',
				selectedDsets: [],
		{% endverbatim %}
                                initialFnids: [{{ fnids|join:',' }} ],
		{% verbatim %}
				}
		},
		mounted: function() {
			this.fetchFiles(this.initialFnids);
		},
                computed: {
                    orderedfiles: function() {
                        return this.order.map(x => this.files[x]);
                    },
                },
                methods: {
			findItems: function() {
				this.$http.get(this.searchUrl,
					{params: {deleted: this.searchdeleted, q: this.findQuery.split(' ').join(',') }})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.files = result['files'];
						this.order = result['order'];
					}
				})
			},
			toggleFile: function(fn_id) {
				if (!this.files[fn_id].details) {
					this.fileInfo(fn_id);
				} else {
					this.files[fn_id].details = false
				}
			},
			fileInfo: function(fn_id) {
				this.$http.get(`/show/file/${fn_id}`)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.files[fn_id].details = result;
				})
			},
			fetchFiles: function(fnids) {
				url = '/show/files/'
				url = fnids.length ? url + `?fnids=${fnids.join(',')}` : url;
				this.$http.get(url)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.files= result['files'];
						this.order = result['order'];
					}
				})
			},
                },

})
	Vue.component('dataset-box', {
		template: `
			<!-- here starts datasets list box, component or container? -->
			<div class="content is-small" >
					<input type="checkbox" v-model="searchdeleted">Search deleted datasets
<input class="input is-small" v-on:keyup.13="findDatasets" v-model="findDsQuery" type="text" placeholder="Type a query and press enter to search datasets">
                        <a class="button" v-on:click="analyzeDatasets" v-show="selectedDsets.length">Analyze datasets</a>
                        <a class="button" v-on:click="deleteDataset" v-show="selectedDsets.length">Delete datasets</a>
                        <a class="button" disabled v-show="!selectedDsets.length">Analyze datasets</a>
                        <a class="button" disabled v-show="!selectedDsets.length">Delete datasets</a>
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" v-model="allSelector" v-on:click="selectAll"></th>
						<th></th>
						<th></th>
						<th>CF</th>
		<th><span class="icon is-small"><i class="fa fa-hourglass-half"/></span></th>
						<th>Project</th>
						<th>Experiment</th>
						<th>Run</th>
						<th>User</th>
						<th>Datatype</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="ds in datasets">
		                        <tr>
						<td><input type="checkbox" v-bind:value="ds.id" v-model="selectedDsets"> </td>
						<td>
							<a v-on:click="toggleDset(ds.id)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td>
								<a v-bind:href="'/datasets/show/' + ds.id">
							<span v-if="ds.own" class="icon has-text-info is-small">
									<i class="fa fa-edit"></i>
							</span>
							<span v-else-if="!ds.own" class="icon has-text-grey-light is-small">
									<i class="fa fa-edit"></i>
							</span>
								</a>
						</td>
						<td><span class="has-icon" v-if="ds.is_corefac">
                                                               <i class="fa fa-check has-text-success"></i>
		</span></td>
		<td><span v-for="state in ds.jobstates" v-bind:class="jobTaskStateColor(state)" class="icon is-small"><i class="fa fa-square"/></span></td>
						<td v-for="name in [ds.proj, ds.exp, ds.run, ds.usr]">
							<del v-if="ds.deleted">{{ name }}</del>
							<span v-if="!ds.deleted">{{ name }}</span>
                                                </td>
						<td>
							<span v-if="!ds.prefrac">{{ ds.dtype }}</span>
							<span v-else-if="ds.hr">{{ ds.hr }}</span>
							<span v-else-if="ds.prefrac">{{ ds.prefrac }}</span>
						</td>
					</tr>
		<template v-if="ds.details !== false">
                <tr><td></td><td colspan="9"> <span class="has-text-weight-bold">Storage location:</span><span> {{ ds.details.storage_loc }} </span></td></tr>
		<td></td>
		<td colspan="4">
		<div>{{ ds.details.nrrawfiles }} claimed files</div>
		<div v-for="(nrfiles, ftype) in ds.details.nrstoredfiles">{{ nrfiles }} stored files of type {{ ftype }}</div>
		{{ ds.details.nrbackupfiles }} backed up files
		<div v-if="ds.details.mzmlable === 'ready'"><a class="button is-small is-primary" v-on:click="createRefineMzml('create', ds.id)">Create (missing) mzMLs</a></div>
		<div v-if="ds.details.mzmlable === 'blocked'" ><a class="button is-small is-primary" disabled>mzML job running</a></div>
		<div v-if="ds.details.refinable === 'ready'"><a class="button is-small is-primary" v-on:click="createRefineMzml('refine', ds.id)">Create refined mzMLs</a></div>
		<div v-if="ds.details.refinable === 'blocked'"><a class="button is-small is-primary" disabled>Create refined mzMLs</a></div>
		</td>
		<td colspan="2">
		<div v-for="(state, comp) in ds.details.compstates">
		<span class="has-icon" v-if="state !== undefined">
                                                               <i v-if="state === 'ok'" class="fa fa-check has-text-success"></i>
                                                               <i v-else-if="state !== 'ok'" class="fa fa-times has-text-danger"></i>
		{{ comp }}</span>
                                                       <span v-if="state === undefined">
                                                               &#x25AC;
		{{ comp }}                              </span>

		</div>
		</td>
		<td colspan="2">
		<div v-for="job in ds.details.jobs">
			<a v-if="job.state==='error' && job.retry" v-on:click="retryJob(job.id)" class="button is-small is-outlined is-danger">Retry {{ job.name }}</a>
					<span v-else-if="job.state==='error'" class="tag is-danger">{{ job.name }}</span>
					<span v-if="job.state==='processing'" class="tag is-warning">{{ job.name }}</span>
					<span v-if="job.state==='pending'" class="tag is-warning">{{ job.name }}</span>
			</div>
		</td>
		<td></td>
		</template>
		                        </template>
				</tbody>
			</table>
		</div><!-- container dsets end -->
		`,
		data: function() {
			return {
				datasets: {},
				findDsQuery: '',
				allSelector: false,
				searchdeleted: false,
				selectedDsets: [],
		{% endverbatim %}
                                initialDsids: [{{ dsids|join:',' }} ],
		{% verbatim %}
				}
		},
		mounted: function() {
			this.fetchDatasets(this.initialDsids);
		},
		methods: {
			createRefineMzml: function(func, ds_id) {
				this.$http.get(`/${func}mzml/${ds_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.dsetInfo(ds_id);
				})
			},
			refineMzml: function(ds_id) {
				this.$http.get(`/refinemzml/${ds_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.dsetInfo(ds_id);
				})
			},
			analyzeDatasets: function() {
					window.open(`/analysis/init?dsids=${this.selectedDsets.join(',')}`, '_blank');
			},
			deleteDataset: function() {
				for (dset_id of this.selectedDsets) {
					this.$http.post(`datasets/delete/`, {'dataset_id': dset_id})
					.then(response => {
						return response
					}, response => {
						console.log(response);
						// error code
					}).then(result => {
						this.datasets[dset_id].deleted = true;
					})
				}
			},
                        retryJob: function(job_id) {
				this.$http.post(`jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.dsetInfo(ds_id);
				})
                        },
			fetchDatasets: function(dsids) {
				url = '/show/datasets/'
				url = dsids.length ? url + `?dsids=${dsids.join(',')}` : url;
				this.$http.get(url)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.datasets = result['dsets'];
					}
				})
			},
			findDatasets: function() {
				this.$http.get('/find/datasets/',
					{params: {deleted: this.searchdeleted, q: this.findDsQuery.split(' ').join(',') }})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.datasets = result['dsets'];
					}
				})
			},
			selectAll: function() {
				this.selectedDsets = [];
				this.allSelector = this.allSelector === false;
				if (!this.allSelector) {
					return;
				}
				for (key in this.datasets) {
				        this.selectedDsets.push(this.datasets[key].id);
				}
			},
			toggleDset: function(ds_id) {
				if (!this.datasets[ds_id].details) {
					this.dsetInfo(ds_id);
				} else {
					this.datasets[ds_id].details = false
				}
			},
			dsetInfo: function(ds_id) {
				this.$http.get(`/show/dataset/${ds_id}`)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.datasets[ds_id].details = result;
				})
			},
			jobTaskStateColor: function(state) {
 				statecolors = {'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning'};
				return statecolors[state]
			},
		},
	})
	{% endverbatim %}
	Vue.component('main-box', {
		template: `
		<div class="content">
			<div class="tabs is-toggle is-centered is-small">
				<ul>
					<li v-bind:class="tabclass_datasets">
						<a v-on:click="showDatasets"><span>Datasets</span></a>
					</li>
					<li v-bind:class="tabclass_projects">
						<a v-on:click="showProjects"><span>Projects (TBD)</span></a>
					</li>
					<li v-bind:class="tabclass_searches">
						<a v-on:click="showSearches"><span>Analyses</span></a>
					</li>
					<li v-bind:class="tabclass_files">
						<a v-on:click="showFiles"><span>Files</span></a>
					</li>
					<li v-bind:class="tabclass_jobs">
						<a v-on:click="showJobs"><span>Jobs</span></a>
					</li>
				</ul>
			</div>
		<dataset-box v-show="tabclass_datasets!==''"></dataset-box>
		<search-box v-show="tabclass_searches!==''"></search-box>
		<jobs-box v-show="tabclass_jobs!==''"></jobs-box>
		<file-box v-show="tabclass_files!==''"></file-box>
		</div>
		`,
		data: function() {
			return {
				datasets: {},
				findDsQuery: '',
				tabclass_datasets: '',
				tabclass_projects: '',
				tabclass_searches: '',
				tabclass_jobs: '',
				tabclass_files: '',
                                initialTab: "{{ tab }}",
				}
		},
		mounted: function() {
			this.activateTabClass('tabclass_' + this.initialTab);
		},
		methods: {
			showDatasets: function() {
				this.activateTabClass('tabclass_datasets');
			},
			showProjects: function() {
				this.activateTabClass('tabclass_projects');
			},
			showSearches: function() {
				this.activateTabClass('tabclass_searches');
			},
			showJobs: function() {
				this.activateTabClass('tabclass_jobs');
			},
			showFiles: function() {
				this.activateTabClass('tabclass_files');
			},
			activateTabClass: function(tabname) {
				tabs = ['tabclass_datasets', 'tabclass_projects', 'tabclass_searches', 'tabclass_jobs', 'tabclass_files'];
				for (offtab of tabs) {
					this[offtab] = '';
					}
				this[tabname] = 'is-active';
			},
		},
	})
	{% verbatim %}
	Vue.component('search-box', {
		template: `
		<div class="content is-small" >
			<input class="input is-small" v-on:keyup.13="findItems" v-model="findQuery" type="text" placeholder="Type a query and press enter to find analyses">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th><span class="icon is-small"><i class="fa fa-hourglass-half"/></span></th>
						<th v-for="f in itemdatafields">{{ f }}</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="itkey in order">
		                        <tr>
						<td>
							<a v-on:click="toggleItem(itkey)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td>
							<span v-if="items[itkey].own" class="icon has-text-info is-small">
									<i class="fa fa-edit"></i>
							</span>
							<span v-else-if="!items[itkey].own" class="icon has-text-grey-light is-small">
									<i class="fa fa-edit"></i>
							</span>
						</td>
						<td>
							<span v-for="state in items[itkey].jobstates" v-bind:class="jobTaskStateColor(state)" class="icon is-small"><i class="fa fa-square"/></span>
						</td>
						<td v-for="key in itemdatakeys">{{ items[itkey][key] }}</td>
					</tr>
					<details-box :details="items[itkey].details" :nfs_id="items[itkey].id" v-on:refreshItem="refreshAll" v-if="items[itkey].details !== false"></details-box>
				</template>
				</tbody>
			</table>
		</div>
		`,
		data: function() {
			return {
				searchUrl: '/find/analyses/',
				showAllUrl: '/show/analyses/',
				showItemUrl: '/show/analysis/',
				itemdatafields: ['Analysis name', 'Workflow', 'User', 'Date'],
				itemdatakeys: ['name', 'wf', 'usr', 'date'],
				items: {},
                                order: [],
				findQuery: '',
				{% endverbatim %}
						initialAnalysisIds: [{{ anids|join:',' }} ],
				{% verbatim %}
			}
		},
		mounted: function() {
			console.log(this.initialAnalysisIds);
			params = this.initialAnalysisIds.length ? {'ids': this.initialAnalysisIds.join(',')}: {};
			this.fetchItems(this.showAllUrl, params);
		},
		methods: {
			fetchItems: function(url, getparams) {
				this.$http.get(url,
					{params: getparams})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items = result['items'];
					this.order = result['order'];
				})
			},
			refreshAll: function() {
				ids = Object.keys(this.items);
 				this.fetchItems(this.showAllUrl, {'ids': ids.join(',')});
			},
			findItems: function() {
				this.$http.get(this.searchUrl,
					{params: {q: this.findQuery.split(' ').join(',') }})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this.items = result['items'];
						this.order = result['order'];
					}
				})
			},
			toggleItem: function(id) {
				if (!this.items[id].details) {
					this.getItemInfo(id);
				} else {
					this.items[id].details = false
				}
			},
			getItemInfo: function(id) {
				this.$http.get(this.showItemUrl + id)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items[id].details = result;
				})
			},
			jobTaskStateColor: function(state) {
 				statecolors = {'done': 'has-text-success', 'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning'};
				return statecolors[state]
			},
		},
	})
	
    Vue.component('jobs-box', {
		template: `
		<div class="content is-small" >
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th><a v-on:click="refreshAll()"><span class="icon is-small has-text-info"><i class="fa fa-redo"/></span></a></th>
						<th><span class="icon is-small"><i class="fa fa-hourglass-half"/></span></th>
						<th v-for="f in itemdatafields">{{ f }}</th>
					</tr>
				</thead>
				<tbody>
				<template v-for="itkey in order">
		                        <tr>
						<td>
							<a v-on:click="toggleItem(itkey)">
								<span class="has-text-info icon is-small">
								<i class="fa fa-eye" />
								</span>
							</a>
						</td>
						<td>
							<a v-on:click="refreshItem(items[itkey].id)"><span class="icon is-small has-text-info"><i class="fa fa-redo"/></span></a>
						</td>
						<td>
							<span v-bind:class="jobTaskStateColor(items[itkey].state)" class="icon is-small"><i class="fa fa-square"/></span>
						</td>
						<td v-for="key in itemdatakeys">{{ items[itkey][key] }}</td>
						<td>
                                                    <span v-if="!items[itkey].wantToDelete" v-for="act in items[itkey].actions"><a href="#" v-on:click="actOnJob(act, items[itkey].id)">{{ act.slice(0,1).toUpperCase() }}{{ act.slice(1) }}</a>&nbsp; </span>
                                                    <span v-show="items[itkey].wantToDelete"><a v-on:click="doNotDelete(items[itkey].id)">No don't delete!</a></span>
                                                    <span v-show="items[itkey].wantToDelete"><a v-on:click="sureDeleteJob(items[itkey].id)">Yes, delete job</a></span></td>
					</tr>
                                        <tr v-if="items[itkey].details !== false">
                                            <td></td><td :colspan="7">
                                                <div class="columns"> 
 <div class="column">
                                                    <div v-if="items[itkey].details.errmsg">
                                                        <h5 class="title is-5">Error message</h5>
                                                        {{ items[itkey].details.errmsg }} 
                                                    </div>
                                                <h5 class="title is-5">Details</h5>
                                                    <div>Created: {{ items[itkey].details.time }} </div>
                                                    <div>{{ items[itkey].details.files }} files </div>
                                                    <div v-if="items[itkey].details.analysis">Analysis name: {{ items[itkey].details.analysis }} </div>
                        	                    <span class="tag is-danger">{{ items[itkey].details.tasks.error }}</span>
                        	                    <span class="tag is-warning">{{ items[itkey].details.tasks.procpen }}</span>
                        	                    <span class="tag is-success">{{ items[itkey].details.tasks.done }}</span>
                        		    </div>
                        		    <div class="column">
                        			<h5 class="subtitle is-5">Errored tasks</h5>
                                                <div v-if="items[itkey].details.errors.length === 0"><strong>-</strong></div>
                                                <div v-for="err in items[itkey].details.errors">
                                                    <div><strong>Task args</strong>: {{ err.args }}</div>
                                                    <div><strong>Error</strong>: {{ err.msg }}</div>
                                                    <hr>
                        			</div>
                        		    </div>
                        		</td>
                        </tr>
				</template>
				</tbody>
			</table>
		</div>
		`,
		data: function() {
			return {
				showAllUrl: '/show/jobs/',
				showItemUrl: '/show/job/',
				refreshItemUrl: '/refresh/job/',
				itemdatafields: ['Job name', 'Users', 'Date', 'Actions'],
				itemdatakeys: ['name', 'usr', 'date'],
				items: {},
                                order: [],
				findQuery: '',
				{% endverbatim %}
						initialIds: [{{ jobids|join:',' }} ],
				{% verbatim %}
			}
		},
		mounted: function() {
			console.log(this.initialIds);
			params = this.initialIds.length ? {'ids': this.initialIds.join(',')}: {};
			this.fetchItems(this.showAllUrl, params);
		},
		methods: {
			fetchItems: function(url, getparams) {
				this.$http.get(url,
					{params: getparams})
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items = result['items'];
					this.order = result['order'];
				})
			},
			refreshAll: function() {
				ids = Object.keys(this.items);
 				this.fetchItems(this.showAllUrl, {'ids': ids.join(',')});
			},
			refreshItem: function(id) {
				this.$http.get(this.refreshItemUrl + id)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items[id] = Object.assign(this.items[id], result);
				})
			},
			toggleItem: function(id) {
				if (!this.items[id].details) {
					this.getItemInfo(id);
					this.refreshItem(id);
				} else {
					this.items[id].details = false
				}
			},
			getItemInfo: function(id) {
				this.$http.get(this.showItemUrl + id)
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					this.items[id].details = result;
				})
			},
                        actOnJob: function(act, job_id) {
                            actionmap = {'retry': this.retryJob,
                                         'force retry': this.retryJob,
                                         'delete': this.deleteJob,
                                        }
                            actionmap[act](job_id);
		   	    this.refreshItem(job_id);
                        },
                        deleteJob: function(job_id) {
                            this.items[job_id].wantToDelete = true;
		   	    this.refreshItem(job_id);
                        },
                        sureDeleteJob: function(job_id) {
                            this.$http.post(`jobs/delete/${job_id}`)
                            .then(response => {
                            	return response
                            }, response => {
                            	console.log(response);
                            	// error code
                            }).then(result => {
		   	        this.refreshAll();
                                return;
                            })
                        },
                        doNotDelete: function(job_id) {
                            this.items[job_id].wantToDelete = false;
		   	    this.refreshItem(job_id);
                        },
                        retryJob: function(job_id) {
				this.$http.post(`jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
                                    return;
				})
                        },
			jobTaskStateColor: function(state) {
 				statecolors = {'done': 'has-text-success', 'pending': 'has-text-info', 'error': 'has-text-danger', 'processing': 'has-text-warning'};
				return statecolors[state]
			},
		},
	})
	Vue.component('details-box', {
		props: ['details', 'nfs_id'],
		template: `
                <tr><td></td><td :colspan="3">
                    <h5 class="title is-5">Output</h5>
                        <div v-if="details.servedfiles.length>0" v-for="link in details.servedfiles">
                            <a :href="'analysis/showfile/' + link[1]" target="_blank">{{ link[0] }}</a>
                        </div>
 			<div v-if="details.storage_locs.length>0" v-for="loc in details.storage_locs">
                            <div><span class="tag is-success">Server</span>{{ loc.server }}</div><div><span class="tag is-success">Folder</span> {{ loc.path }}</div>
                        </div>
 			<div v-if="details.storage_locs.length===0">No output (yet)</div>
<hr>
                    <h5 class="title is-5">Analysis log</h5>
                    <a v-if="details.log[0].slice(0,16) !== 'Analysis without'" :href="'analysis/log/' + nfs_id" class="is-size-7" target="_blank">Click for full log</a>
 			<div v-for="line in details.log">{{ line }}</div>
		</td>
		<td></td>
		<td colspan="2">
			<h5 class="subtitle is-5" v-if="Object.keys(details.jobs).length">Jobs</h5>
			<div v-for="job in details.jobs">
				<a v-if="job.state==='error' && job.retry" v-on:click="retryJob(job.id)" class="button is-small is-outlined is-danger">Retry {{ job.name }}</a>
						<span v-else-if="job.state==='error'" class="tag is-danger">{{ job.name }}</span>
						<span v-if="job.state==='processing'" class="tag is-warning">{{ job.name }}</span>
						<span v-if="job.state==='pending'" class="tag is-warning">{{ job.name }}</span>
			</div>
                        <section>
			<h5 class="subtitle is-5 has-text-weight-bold">Input data</h5>
			<div>Workflow version commit <a target="_blank" v-bind:href="wfrepo">{{ details.wf.commit.slice(0,8) }}...</a></div>
 			<div><a v-bind:href="'?tab=datasets&dsids='+details.dsets.join(',')" target="_blank">{{ details.dsets.length }} datasets</a> from project(s) <span v-for="proj in details.proj">{{ proj.name }} </span></div>
 			<div v-if="details.quants">Quant type: {{ details.quants.join(', ') }}</div>
 			<div>{{ details.nrfiles }} rawfiles analysed</div>
                        </section>
		</td>
</tr>
		`,
		data: function() {
			return {}
		},
		methods: {
                        retryJob: function(job_id) {
				this.$http.post(`jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					// make event signal this.dsetInfo(ds_id);
					this.$emit('refreshItem');
				})
                        },
			                
		},
		computed: {
			wfrepo: function() {
				return [this.details.wf.repo, 'blob', this.details.wf.commit, this.details.wf.fn].join('/');
			},
		},

	})

	{% endverbatim %}

	var dashboard = new Vue({
	el: '#apps',
	data: function() {
		return { 
		}
	},
})
</script>
{% endblock content %}
