{% extends "base.html" %}

{% load static %}

{% block head %}
  <script defer src='{% static "mstulos/bundle.js" %}'></script>
  {{ tulos_data | json_script:'tulos_data'}}
  {{ filters | json_script:'prefilters'}}
  <script>
  let data = JSON.parse(document.getElementById('tulos_data').textContent);
  let prefilters = JSON.parse(document.getElementById('prefilters').textContent);
  </script>
{% endblock head %}

{% block content %}

<div class="container is-fluid">

  {% block titles %}
  <h3 class="title is-3">MSTulos </h3>
  <h4 class="subtitle is-4">
    Results DB contains {{ total_pep }} peptide sequences from {{ total_exp }} experiments
  </h4>
  {% endblock titles %}

  {% block pages %}
  <div> Showing row {{ first_res_nr }} to {{ last_res_nr }} of {{ total_res_nr }} </div>
   {% include 'mstulos/pagination.html' %}
  {% endblock pages %}


{% block tables %}
{% endblock tables %}

   {% include 'mstulos/pagination.html' %}
</div> 

{% endblock content %}
