html {
margin: 0;
padding: 0;
}

body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

div.header {
height: 140px;
padding-top:10px;
padding-bottom: 0px;
background-color: #2b3b33;
font-family: 'Fjalla One';
font-size: 25px;
text-align: center;
border-color: #486255;
border-width: 2px;
border-style: none none solid none;
}

div.headerbutton {
display: inline-block;
margin-left: 20px;
}

div#statusbar {
background-color: #9eb6a8;
height: 20px;
padding: 5px;
border-top-color: #3c5046;
border-bottom-color: #b6c8bf;
border-width: 3px;
border-style: solid none solid;
text-align: center;
}

div#statuscontainer {
width: 60%;
color: #0f290b;
font-family: Helvetica, Arial, sans-serif;
font-size: 13px;
}

div#content, div#filler {
padding-top: 30px;
padding-bottom: 0px;
width: 100%;
background-color: #f3ffea;
text-align: center;
}

div#filler {
height: 100%;
padding: 0;
}

div.column, div.filescolumn {
margin-left: 50px;
padding: 0;
background-color: transparent;
display: inline-block;
vertical-align: text-top;
width: 20%;
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
font-size: 20px;
color: #24611a;
text-align: center;
}

div.filescolumn {
width: 40%;
}

div.newstitle {
font-weight: bold;
}

span.leftside {
float: left;
}

span.rightside {
float: right;
}

table.metadata {
margin-left: auto;
margin-right: auto;
}

div.contentitem {
background-color: #d8e6a2;
padding: 10px;
border-width: 4px;
border-color: #689932;
border-style: solid;
padding: 10px;
width: 100%;
margin-bottom: 20px;
text-align: left;
font-size: 15px;
font-weight: normal;
color: #0f290b;
}

div#dsetcontainer, table {
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
color: #0f290b;
}

div.progressheader {
width: 600px;
margin: 0 auto;
}

div.progressnumber {
width: 20%;
display: inline-block;
}

div.progressname {
width: 20%;
display: inline-block;
font-family: Helvetica, Arial, sans-serif;
font-size: 11px;
}

a.header:link {
text-decoration: none;
color: #d8e6a2;
}

a.header:visited {
color: #d8e6a2;
}

a.header:hover {
color: #ffffff;
}
a.header:active {
color: #d8e6a2;
}



a.statusbar:link {
text-decoration:none;
color: #486255;
}

a.statusbar:visited {
color: #486255;
}
a.statusbar:hover {
color: #d8e6a2;
}
a.statusbar:active {
color: #486255;
}

a.progressheader:link {
text-decoration: none;
color: #486255; 
}

a.progressheader:visited {
color: #486255; 
}

a.progressheader:hover {
color: #d8e6a2;
}

a.progressheader:active {
color: #486255;
}


a.contentitem:link {
text-decoration: none;
color: #486255; 
}

a.contentitem:visited {
color: #486255;
}

a.contentitem:hover {
color: #9eb6a8;
}
a.contentitem:active {
color: #486255;
}

div.errormsg {
display: table-cell;
color: red;
}

div.filebox {
overflow:auto;
height: 200px;
width: 200px;
background-color: white;
border-width: 4px;
border-color: #90a58d;
border-style: solid;
padding: 10px;
font-family: Helvetica, Arial, sans-serif;
font-size: 11px;
}

.textinput {
float: right;
}

.selectinput {
width: 150px;
}
