# PostgreSQL
PG_SUPERUSER_PASSWORD={{ pg_superuser_pass }}
PG_KANTELE_PASSWORD={{ db_pass }}
PG_KANTELE_USER={{ kanteledbuser }}
KANTELE_DB_NAME={{ kanteledb }}
HOST_PG_BACKUPS={{ host_pgbackup_path }}

# message queue
RABBIT_VHOST={{ mq_vhost }}
RABBITUSER={{ rabbituser }}
RABBITPASS={{ amqppass }}

# data, uploads, servable content, qc.html etc
PG_DATA_PATH={{ pgdatadir }}
HOST_UPLOADPATH={{ host_uploadpath }}
HOST_ANALYSISFILES={{ host_analysispath }}

# mydomain.example.com for Django allowed-hosts setting
HOST_FQDN={{ kantele_host }}

# cert location
HOST_TLSCERTPATH={{ tls_path }}

# Inside containers
CONTAINER_UPLOADPATH={{ container_uploadpath }}
CONTAINER_ANALYSISPATH={{ container_analysispath }}
CONTAINER_TLSCERTPATH={{ tls_path }}
CONTAINER_BACKUPPATH={{ container_backuppath }}

# Logging, TDB
SYSLOG_ADDRESS=udp://{{ kantele_host }}:514
