CELERYD_NODES="analysisworker qcworker"
CELERY_BIN="{{ kanteledir }}/venv/bin/celery"
CELERYD_MULTI="multi"
CELERY_APP="kantele"
CELERYD_OPTS="-c:analysisworker 3 -c:qcworker 2 -Q:analysisworker {{ analysis_queue }} -Q:qcworker {{ qc_queue }} --statedb={{ kantelelogdir }}/%n%I.state"
CELERYD_LOG_LEVEL="INFO"
CELERYD_LOG_FILE="{{ kantelelogdir }}/%n%I.log"
CELERYD_PID_FILE="{{ kantelelogdir }}/%n%I.pid"
CELERYD_USER="{{ kanteleuser }}"
CELERYD_GROUP="{{ kantelegroup }}"
CELERY_CREATE_DIRS=1
PROTOCOL=https
KANTELEHOST="{{ kantele_host }}"
RABBITHOST={{ rabbithost }}
RABBIT_VHOST={{ mq_vhost }}
RABBITPASS={{ amqppass }}
RABBITUSER={{ rabbituser }}

SECRET_KEY={{ secret_key }}
APIKEY={{ analysis_apikey }}
NEXTFLOW_RUNDIR="{{ baserun_dir }}"
LARGER_NFRUNDIR="{{ larger_rundir }}"
STORAGESHARENAMES="{{ storagesharenames }}"
STORAGESHARES={{ storage_shares }}
ANALYSISSHARE={{ analysis_share }}
MZMLINSHARE={{ mzml_in_share }}
STAGESHARE={{ stage_dir }}
