## Application wide stuff
## django
SECRET_KEY={{ secret_key }}

NGINX_ANALYSIS_REDIRECT={{ analysis_path_url }}

# Webserver only file types
LC_DTYPE_ID={{ lc_dtype_id }}
LOCAL_PTYPE_ID={{ local_ptype_id }}
## external datasets
PX_PROJECT_ID={{ px_proj_id }}
EXTERNAL_PRODUCER_IDS={{ external_producer_ids }}

## nextflow DB IDs
REFINE_MZML_WFVID={{ refine_mzml_wfv_id }}
REFINE_MZML_DBID={{ refine_mzml_dbfa_id }}

# For verification of clients
STORAGECLIENT_APIKEY={{ storage_apikey }}
ANALYSISCLIENT_APIKEY={{ analysis_apikey }}
ADMIN_APIKEY={{ admin_apikey }}

PRIMARY_STORAGE={{ primary_storagename }}
STORAGESHARENAMES={{ storagesharenames }}

## Lifespan for mzMLs and Instrument-QC RAW files, in days
MAX_MZML_STORAGE_TIME_POST_ANALYSIS={{ max_mzml_storage_analysis }}
MAX_MZML_LC_STORAGE_TIME={{ max_mzml_storage_lc }}
