!/bin/bash
set -euo pipefail

# Makes a postgres dump of the database
# Adds a comment on first line containing the files MD5 sum

cd "{{ host_uploadpath }}"
dt="$(date -I)"
dstfile="pgbackup_${dt}"
tmpfile="tmp_${dstfile}"

# Only run if no finished backup yet
if [[ -e $dstfile ]]
then
    exit 0
fi

# Remove tmp files, move yesterdays backup
rm tmp_pgbackup_*
rm md5_tmp_pgbackup_*
yesterday="pgbackup_$(date -I -d yesterday)"
if [[ -e "$yesterday" ]]
then
    mv "$yesterday" pgbackup.yesterday
fi

# dump data from DB to file
docker-compose exec db pg_dump -U postgres {{ kanteledb }} > "$tmpfile"

# Check MD5 of file and add it on first line
# the comment sign in SQL is --
mdfile="md5_${tmpfile}"
cat <(echo "-- MD5SUM-backup $(md5sum "$tmpfile")") "$tmpfile" > "$mdfile"

# If not failing, move file to correct output
mv "$mdfile" "$dstfile"
