{% extends "base.html" %}
{% block content %}
<div id="container" class="container">
<analysis-box></analysis-box>
</div>
<script>
	Vue.component('analysis-box', {
		template: `
		{% verbatim %}
		<div class="content">
			<article class="message is-danger" v-if="errors.length !== 0 || analysiserrors.size !== 0">
				<div class="message-header">Errors</div>
				<div class="message-body">
					<ul>
					<li v-for="err in Array.from(analysiserrors)">{{ err }}</li>
					<li v-for="err in Array.from(errors)">{{ err }}</li>
					<li v-if="errlink">Click <a target="_blank" :href="errlink">here</a></li>
					</ul>
				</div>
			</article>
		<div class="title is-5">Analysis </div>

		<div class="field is-horizontal">
		<div class="field-label is-normal">
		<label class="label">Worfklow:</label>
		</div>
		<div class="field-body">
		<div class="field">
		<div class="select" >
		<select v-model="wfid" v-on:change="fetchWorkflow">
			<option disabled value="0">Select workflow</option>
			<template v-for="wf in allwfs">
			<option v-bind:value="wf.id">{{ wf.name }} </option>
			</template>
		</select>
		</div>
		</div>
		</div>
		<div class="field-label is-normal">
		<label class="label">Worfklow version:</label>
		</div>
		<div class="field-body">
		<div class="field">
		<div class="select">
		<select v-model="wfversion">
			<option disabled value="0">Select workflow version</option>
			<template v-for="wfv in versions">
			<option v-bind:value="wfv.id"><span v-if="wfv.latest">LATEST: </span>{{ wfv.date }} -- {{ wfv.name }}</option>
			</option>
		</template>
		</select>
		</div>
		</div>
		</div>
		</div>

		<div class="field">
		<input type="text" class="input" v-model="analysisname" placeholder="Please enter analysis name">
		<div>Full name will be <code>{{ workflow.wftype }}_{{ analysisname }}</code>
		This will be the folder name for the output and prefixed to the output filenames
		</div>
		</div>


			<div class="title is-5">Datasets</div>
			<div v-for="ds in dsets" class="box">
			<div class="columns">
			<div class="column">
<!-- labelfree, lfree hirief (plasma), tmt (LG, labelcheck), tmt hirief, FIX ALL OF THEM
- setname for dset or optionally each set is a file when not using hirief, give checkbox
-->

			<div v-if="!ds.hr">
				<input type="checkbox" v-model="ds.filesaresets">
				<label class="checkbox">Each file is a different sample</label>
			</div>
			<div class="field">
				<input type="text" class="input" placeholder="Name of set" v-show="!ds.filesaresets" v-model="dssetnames[ds.id]">
			</div>
			<div class="subtitle is-6 has-text-primary">
				<span>{{ ds.proj }} // {{ ds.exp }} // {{ ds.run }} //</span>
				<span v-if="!ds.prefrac">{{ ds.dtype }}</span>
				<span v-else-if="ds.hr">{{ ds.hr }}</span>
				<span v-else-if="ds.prefrac">{{ ds.prefrac }}</span>
			</div>
			<div class="subtitle is-6">
				<span>{{ ds.details.qtype }} </span>
		                <span v-for="(nrfiles, ftype) in ds.details.nrstoredfiles"> // {{ nrfiles }} {{ ftype }} files </span>
				<span>// {{ ds.details.instruments.join(', ') }} </span>
			</div>
			<div v-if="ds.details.nrstoredfiles.refined_mzML" class="subtitle is-6"><strong>Enforcing use of refined mzML(s)</strong></div>
			</div>
			<div class="column">
				<div class="field" v-show="ds.hr">
					<label class="label">Regex for fraction detection</label>
					<input type="text" class="input" v-on:change="matchFractions(ds)" v-model="frregex[ds.id]">
				</div>
				<span v-if="ds.hr">{{ matchedFr[ds.id] }} fractions matched</span>
			</div>
			</div>
                        <div class="columns" v-for="fn in ds.files" v-show="ds.filesaresets">
				<div class="column">
					{{ fn.name }}
				</div>
				<div class="column">
					<input type="text" class="input" v-model="fn.setname" :placeholder="fn.sample">
				</div>
				</template>
			</div>

		</div>
		 
<!-- labelfree, lfree hirief (plasma), tmt (LG, labelcheck), tmt hirief, FIX ALL OF THEM-->
		<div class="box" v-if="analysiserrors.size === 0 && analysis.qtype !== 'labelfree'">
		<div class="title is-5">Isobaric quantification</div>
		<div v-if="allsets.length===1"> 
                  <input type="checkbox" v-model="mediansweep">
                  <label class="checkbox">Use median sweeping (no predefined denominators, using DEqMS)</label>
                </div>
		<div v-if="!mediansweep" v-for="name in allsets">
			<div class="has-text-primary title is-6">Isobaric denominator channels</div>
			<div class="title is-6">{{ name }}</div>
			<template v-if="setdenoms[name]">
				<div v-for="ch in sorted_channels(setdenoms[name])">
					<input type="checkbox" v-bind:value="ch" v-model="setdenommodel[name]">{{ ch }} - {{ setdenoms[name][ch] }}
				</div>
			</template>
		</div>
		</div>

		<div class="box" v-if="analysiserrors.size === 0">
		<div class="title is-5">Detected parameters</div>
		<div>Datasets are from instrument type: {{ analysis.instnice }} <code>{{ analysis.params.inst.join(' ') }}</code></div>
		<div>Quantification {{ analysis.qtype }} type: 
                    <code v-if="analysis.qtype === 'labelfree'"> # labelfree </code>
                    <code v-else>{{ analysis.params.quant.join(' ') }}</code></div>
		
		</div>
		<div class="box" v-if="analysiserrors.size === 0">
		<div class="title is-5">Workflow parameters</div>
		<div v-for="(desc, flag) in workflow.flags">
			<input v-bind:value="flag" v-model="analysis.params.flags" type="checkbox">
			<label class="checkbox">{{ desc }}</label>: <code>{{ flag }}</code>
		</div>
		<div v-show="'flags' in workflow && Object.keys(workflow.flags).length === 0">No parameters for this workflow</div>
		</div>

		<div class="box" v-if="analysiserrors.size === 0">
		<div class="title is-5">Input files</div>
		<div class="field" v-for="file in workflow.files">
		<label class="label">{{ file.name }}</label>
		<div class="select">
		<select v-model="inputfiles[file.nf]">
					<option disabled value="">Please select one</option>
					<option value="">Do not use this parameter</option>
					<template v-for="libfn in libfiles[file.ftype]">
					<option v-bind:value="libfn.id">
		{{ libfn.name }} -- {{ libfn.desc }} 
					</option>
					</template>
				</select>
			</div>
		</div>
		</div>

		<div class="box" v-if="analysiserrors.size === 0">
		<div class="title is-5">Predefined files</div>
		<div class="field" v-for="file in workflow.fixedfiles">
		<label class="label">{{ file.name }}</label>
		<div class="select" >
		<select>
					<option disabled value="">Fixed selection</option>
					<option> 
		{{ file.fn }} -- {{ file.desc }} 
					</option>
					</template>
				</select>
			</div>
		</div>
		</div>

		<a class="button is-primary" v-show="this.runButtonActive" v-on:click="runAnalysis">Run analysis</a>
		<a class="button is-primary is-loading" v-show="!this.runButtonActive && this.postingAnalysis">Run analysis</a>
		<a class="button is-primary" disabled v-show="!this.runButtonActive && !this.postingAnalysis">Run analysis</a>
		<article class="message is-danger" v-if="errors.length !== 0 || analysiserrors.size !== 0">
			<div class="message-header">Errors</div>
			<div class="message-body">
				<ul>
				<li v-for="err in Array.from(analysiserrors)">{{ err }}</li>
				<li v-for="err in Array.from(errors)">{{ err }}</li>
				<li v-if="errlink">Click <a target="_blank" :href="errlink">here</a></li>
				</ul>
			</div>
		</article>
		<article class="message is-info" v-if="runmsg.length !== 0">
			<div class="message-body">
				<ul>
				<li v-for="msg in runmsg">{{ msg }}</li>
				</ul>
			</div>
		</article>
		</div>
		`,
		{% endverbatim %}
		data: function() {
			return {
				analysisname: '',
				allwfs: {'': 1},
				versions: [],
				dsids: [{{ dsids|join:"," }}],
				wfid: {{ wfid }},
				wfversion: 0,
				workflow: {},
				libfiles: {},
				inputfiles: {},
				analysiserrors: new Set(),
				dsets: [],
				dssetnames: {},
				frregex: {},
				matchedFr: {},
				isoquants: [],
				setdenommodel: {},
				mediansweep: false,
				errors: [],
				runButtonActive: true,
				postingAnalysis: false,
				runmsg: [],
				errlink: false,
			}
		},
		mounted: function() {
			for (dsid of this.dsids) {
				this.frregex[dsid] = '.*fr([0-9]+).*mzML$'
			}
			this.fetchAllWorkflows();
			this.fetchDatasetDetails();
			this.fetchWorkflow();
		},
		methods: {
			validate: function() {
				this.errors = [];
				re = RegExp('^[a-z0-9-_]+$', 'i');
				this.errors = [];
				if (!this.analysisname) {
					this.errors.push('Analysisname must be filled in');
				}
				else if (!re.test(this.analysisname)) {
					this.errors.push('Analysisname may only contain a-z 0-9 - _');
				}
				if (!this.wfid || this.wfid === 0) {
					this.errors.push('You must select a workflow');
				}
				if (!this.wfversion || this.wfversion === 0) {
					this.errors.push('You must select a workflow version');
				}
				for (dsid in this.dsets) {
					if (!this.dsets[dsid].filesaresets && (!(dsid in this.dssetnames) || this.dssetnames[dsid] === "")) {
						ds = this.dsets[dsid];
						this.errors.push(`Dataset ${ds.proj} - ${ds.exp} - ${ds.run} needs to have a set name`);
					} else if (this.dsets[dsid].filesaresets) {
						for (fn of this.dsets[dsid].files) {
							if (fn.setname === "") {
								this.errors.push(`File ${fn.name} needs to have a setname`);
							}
						}
					}
				}
				if (this.errors.length > 0) {
					return false;
				} else { return true;}
			},
			runAnalysis: function() {
				this.runmsg = [];
				this.errors = [];
				this.errlink = false;
				if (!this.validate()) {
					return false;
				}
				this.runButtonActive = false;
				this.postingAnalysis = true;
				this.runmsg.push('Validated data');
				fns = {};
				for (file of this.workflow.fixedfiles) {
					fns[file.nf] = file.id;
				}
				for (file of this.workflow.files) {
					if (this.inputfiles[file.nf]) {
						fns[file.nf] = this.inputfiles[file.nf];
					}
				}
				setnames = {};
				for (dsid in this.dsets) {
					if (!this.dsets[dsid].filesaresets) {
						for (fn of this.dsets[dsid].files) {
							setnames[fn.id] = this.dssetnames[dsid];
						}		
					} else {
						for (fn of this.dsets[dsid].files) {
							setnames[fn.id] = fn.setname;
						}		
					}
				}
 				fractions = {};
				for (dsid in this.dsets) {
					for (fn of this.dsets[dsid].files) {
						fractions[fn.id] = fn.fr;
					}	
				}
				this.runmsg.push(`${allsets.length} set(s) found`);
				this.runmsg.push(`Using ${Object.keys(this.dsets).length} dataset(s)`);
				this.runmsg.push(`${Object.keys(fns).length} other inputfiles found`);
				post = {'setnames': setnames,
					'dsids': Object.keys(this.dsets),
					'strips': this.platenames,
					'fractions': fractions,
					'files': fns,
					'params':  this.analysis.params,
					'wfid': this.wfid,
					'nfwfvid': this.wfversion,
					'analysisname': `${this.workflow.wftype}_${this.analysisname}`,
				}
				denoms = [];
				for (sname of this.allsets) {
					if (Object.keys(this.setdenoms[sname]).length) {
						denoms.push(`${sname}:${this.setdenommodel[sname].join(':')}`);
					}
				}
				if (denoms.length > 0 && !this.mediansweep) {
					post.params.denoms =  ['--denoms', denoms.join(' ')];
				}
				this.runmsg.push(`Posting analysis job for ${this.analysisname}`);
				this.$http.post('/analysis/run/', post 
					).then(response => {
						return response.json()
					}, response => {
						console.log(response);
						console.log('error');
					}).then(result => {
 						if (result['state'] === 'ok') {
							window.location.href = '/?tab=searches';
						} else {
							this.errors.push(result.msg);
							this.errlink = result.link;
						}
					})
				this.postingAnalysis = false;
			},
			fetchAllWorkflows: function() {
				this.$http.get(`/analysis/allworkflows/`)
				.then(response => {
					return response.json()
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.allwfs = result['allwfs'];
				})
			},
	{% verbatim %}
			fetchDatasetDetails: function() {
				this.$http.get(`/analysis/dsets/`,
					{params: {dsids: this.dsids.join(',')}})
				.then(response => {
					return response.json()
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					if (result['error']) {
						this.errors.push(...result['errmsg'])
						this.runButtonActive = false;
					} else {
						this.dsets = result['dsets']
						this.isoquants = result['isoquants']
						for (dsid of this.dsids) {
							if (this.dsets[dsid].hr) {
								this.matchFractions(this.dsets[dsid]);
							}
						}
					}
				})

			},
			fetchWorkflow: function() {
				if (this.wfid > 0) {
				this.$http.get(`/analysis/workflow/`,
					{params: {wfid: this.wfid}})
				.then(response => {
					return response.json()
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.workflow = result['wf'];
					this.versions = result['versions'];
					this.libfiles = result['files'];
				})

				}
			},
			matchFractions: function(ds) {
				this.matchedFr = Object.assign({}, this.matchedFr);
				allfrs = new Set();
				for (fn of ds.files) {
					match = fn.name.match(RegExp(this.frregex[ds.id]));
					if (match) {
						fn.fr = match[1];
						allfrs.add(match[1]);
					} else {
						fn.fr = 'NA';
                                        }

				}
				this.matchedFr[ds.id] = allfrs.size;
			},
			sorted_channels: function(channels) {
				return Object.keys(channels).sort(function(a,b) {
					return a.replace('N', 'A') > b.replace('N', 'A');
					});
			},
		},
		computed: {
			setdenoms: function() {
				this.setdenommodel = {};
				setds = {};
				for (dsid in this.dsets) {
					if (!this.dsets[dsid].filesaresets) {
						if (this.dssetnames[dsid]) {
							setds[this.dssetnames[dsid]] = {};
							for (ch in this.dsets[dsid].details.channels) {
								setds[this.dssetnames[dsid]][ch] = this.dsets[dsid].details.channels[ch];
							}
							this.setdenommodel[this.dssetnames[dsid]] = [];
						}
					} else {
						for (fn of this.dsets[dsid].files) {
							if (fn.setname) {
								setds[fn.setname] = {};
								for (ch in this.dsets[dsid].details.channels) {
									setds[fn.setname][ch] = this.dsets[dsid].details.channels[ch];
								this.setdenommodel[fn.setname] = [];
								}
							}
						}
					}
				}
				return setds;
			},
			platenames: function() {
				plates = {}
				for (dsid in this.dsets) {
					if (this.dsets[dsid].hr) { pln = this.dsets[dsid].hr; } else { pln = false; }
					plates[dsid] = pln;
				}
				return plates;
			},
			analysis: function() {
				data = {};
				qtype = '';
				inst = '';
				// check quant, instrument
				for (dsid in this.dsets) {
					dsq = this.dsets[dsid].details.qtype;
					dsins = this.dsets[dsid].details.instruments;
					if (qtype && dsq !== qtype) {
						this.analysiserrors.add('Mixed quantification types in selected datasets');
					}
					if (!dsins.size > 1 || (inst && dsins[0] !== inst)) {
						this.analysiserrors.add('Mixed instruments found in datasets');
					}
					qtype = dsq;
					inst = dsins[0];
				}

				qtypeshort = qtype.toLowerCase().replace(/[\s-]/g, '');
				instmap = {'qe': 'Q-Exactive', 'velos': 'Velos'};
				params = {'inst': ['--instrument', inst], 'flags': []}
				if (qtypeshort !== 'labelfree') {
					params.quant = ['--isobaric', qtypeshort]
				} else { params.quant = [] }
                if ('invisible_flags' in this.workflow) {
				  params.flags.push(...Object.keys(this.workflow.invisible_flags));
                }
				return {'qtype': qtype,
					'qtshort': qtypeshort,
					'inst': inst,
					'instnice': instmap[inst],
					'params': params,
				};
			},
			allsets: function() {
				allsets = new Set()
				for (dsid in this.dsets) {
					if (this.dsets[dsid].filesaresets) {
						for (fn of this.dsets[dsid].files) {
							if (fn.setname) {
						       		allsets.add(fn.setname);
							}
						}
					} else {
						if (this.dssetnames[dsid]) {
						       	allsets.add(this.dssetnames[dsid]);
						}
					}
				}
				return Array.from(allsets);
			}
		},
	})
	{% endverbatim %}
	var app = new Vue({
	el: '#container',
	})
</script>

{% endblock content %}
