{% extends "base.html" %}

{% load static %}

{% block head %}
  <link rel='stylesheet' href='{% static "analysis/bundle.css" %}'>
  {{ analysis | json_script:'analysis_data'}}
  {{ wfs | json_script:'allwfs'}}
  <script defer src='{% static "analysis/bundle.js" %}'></script>
  <script>
    let dsids = [
      {% for dsid in dsids %}
      "{{dsid}}",
      {% endfor %}
      ];
    let existing_analysis = JSON.parse(document.getElementById('analysis_data').textContent);
    const dbwfs = JSON.parse(document.getElementById('allwfs').textContent);
    const allwfs = dbwfs.wfs;
    const wforder = dbwfs.order;
    const ds_errors = [
      {% for dse in ds_errors %}
      "{{dse}}",
      {% endfor %}
      ];
  </script>
{% endblock head %}

{% block content %}
<div id="apps" class="container">
</div>
{% endblock content %}
