<html>
<head>
<title>Kantele - metadata management</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ui.notify.css">
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet'
type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js">
</script>
<script src="{{ STATIC_URL }}ui.notify.js"></script>
</head>

<body>
<div class="header">
<a href="/kantele"><img src="{{ STATIC_URL }}logo.svg"></a>
{% if user.is_authenticated %}
<div class="headerbutton">
<a class="header" href="/kantele/dataset/new">NEW METADATA</a>
</div>
<div class="headerbutton">
<a class="header" href="/kantele/userdatasets">USER DATASETS</a>
</div>
<div class="headerbutton">
<a class="header" href="/kantele/">SEARCH DATASETS</a>
</div>
{% else %}
<div class="headerbutton">
<a class="header" href="/kantele/login">LOGIN</a>
</div>
{% endif %}
<div class="headerbutton">
<a class="header" href="/kantele/about">ABOUT</a>
</div>
</div>

<div id="statusbar">
{% if user.is_authenticated %}
<div id="statuscontainer">
Logged in as {{ user.first_name }} {{ user.last_name }}. 
<a class="progressheader" href="/kantele/logout">logout</a>
</div>
{% endif %}
</div>
<div id="content">

{% if user.is_authenticated %}
<!-- set the container hidden to avoid a flash of unstyled content
when the page first loads -->
<div id="container" style="display:none">
    <!-- 
    Later on, you can choose which template to use by referring to the 
    ID assigned to each template.  Alternatively, you could refer
    to each template by index, so in this example, "basic-tempate"
    is index 0 and "advanced-template" is index 1.           -->

    <div id="basic-template">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1>#{title}</h1>
        <p>#{text}</p>
    </div>
</div>

{% if message %}
<script type="text/javascript">
$("#container").notify();
$("#container").notify("create", {
    title: 'Error',
    text: '{{ message }}'
    });
</script>
{% endif %}


{% block content %}
<div class="column">
News
<div class="contentitem">
Here's some news for you.
</div>
</div>

<div class="column">
Datasets
{% for ds in datasets %}
<div class="contentitem">
Date: {{ ds.date }}<br>
Project: {{ ds.project }}<br>
Experiment: {{ ds.experiment }}
<div class="datasetbuttons">
<a class="contentitem" href="/kantele/dataset/copy/{{ ds.mongoid }}">copy</a>
<a class="contentitem" href="/kantele/dataset/edit/{{ ds.mongoid }}">edit</a>
</div>
</div>
{% endfor %}
</div>


<div class="column">
Server status
<div class="contentitem">
<!-- server report -->
Infofiles currently processing: {{ status.infofiles }}<br>
Service info: {{ status.message }}<br>
QUEUES<br>
{% for k,v in status.worker_queues.items %}
{{ k }} {{ v }}<br>
{% endfor %}
Server status: {{ status.server_status.description }}
</div>
</div>

{% endblock content %}
{% endif %}

</div>

<div id="filler">
</div>

</body>
</html>
