{% extends "metadata/dataset.html" %}


{% block dset %}
<script>
function addField(divName)
{
var test = document.createElement('div');
var divinput = divName + "_inputunit0";
var newdiv = document.getElementById(divinput).cloneNode(true);
newdiv.id = divName + "_inputunit"; // fix so that they get a number? check request post output
document.getElementById(divName).appendChild(newdiv);
}
</script>

<input type="submit" value="next" name="target_write_metadata">
<table>
<tr>
<td></td>
<td> 
{{ mds.allfiles.files|length }} files
<div class="filebox">
{% for fn in mds.allfiles.files %}
{{ fn }}</br>
{% endfor %}
</div>
</td>
</tr>

{% for name, param in mds.paramset.params.items %}
    {% if param.render_html %}
<tr>
<td> {{ param.title }} </td>
<td> {{ param.render_html|safe }} </td> 
<td>
    {% if param.errors %}
        <div class="errormsg" id="metafield">
        {% for error in param.errors %}
        {{ error }}
        {% endfor %}
        </div>
    {% endif %}
    </div>
    </td>
</tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
