{% extends "metadata/dataset.html" %}

{% block dset %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}fileShowFilter.js"></script>




<input type="submit" name="target_add_files">
<div class="filescolumn">
<h3>Paste filenames from an experiment</h3>
<textarea name="pastefiles" rows=30 cols=70>
</textarea>
</div>

OR

<div class="filescolumn" >
<h3 id="fileheader">Select uploaded files</h3>
<select id="filelist" size=30 name="selectfiles" multiple>
{% for file in mds.get_uploaded_files %}
<option value="{{ file }}">{{ file }}</option>
{% endfor %}
</select>
</div>

</div>

{% endblock %}
