<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
</head>
<h1>Input your metadata parameters</h1>
<script>
function addField(divName)
{
var test = document.createElement('div');
var divinput = divName + "_inputunit0";
var newdiv = document.getElementById(divinput).cloneNode(true);
newdiv.id = divName + "_inputunit"; // fix so that they get a number? check request post output
document.getElementById(divName).appendChild(newdiv);
}

</script>
Hello {{ user.username }}!!
{% if param_set.add_outliers %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}fileShowFilter.js"></script>
<form action="" method="POST">{% csrf_token %}
<input type="hidden" name="step" value="outlier_meta">
<h3 id="header">Change some parameters for specific files</h3>
<select id="filelist" size=10 name="outlierfiles" multiple>
{% for file in param_set.allfiles %}
<option value="{{ file }}">{{ file }}</option>
{% endfor %}
</select>

{% else %}
<form action="" method="POST">{% csrf_token %}
<input type="hidden" name="step" value="base_meta_input">
{% endif %}
<input type="hidden" name="tmpdir" value="{{ param_set.tmpdir }}">

<table>
    {% for name, param in param_set.params.items %}
    {% if param.render_html %}
<tr>
<td> {{ param.title }} </td>
<td> {{ param.render_html|safe }} </td> 
<td>
    {% if param.errors %}
        <div class="errormsg" id="metafield">
        {% for error in param.errors %}
        {{ error }}
        {% endfor %}
        </div>
    {% endif %}
    </div>
    </td>
</tr>
    {% endif %}
    {% endfor %}
</table>

<input type="radio" name="add_outliers" value="true">Change parameters for outlier files
<br>
<input type="radio" name="add_outliers" value="false" checked>Proceed to store metadata



<input type="submit">
</form>

{% block sidebar %}
{% endblock %}
