{% extends "metadata/dataset.html" %}

{% block dset %}
<script>
function addField(divName)
{
var test = document.createElement('div');
var divinput = divName + "_inputunit0";
var newdiv = document.getElementById(divinput).cloneNode(true);
newdiv.id = divName + "_inputunit"; // fix so that they get a number? check request post output
document.getElementById(divName).appendChild(newdiv);
}
</script>


<input type="submit" name="target_define_outliers" 
    value="Save file-specific metadata">
<input type="submit" name="target_more_outliers" 
    value="Define more file-specific metadata">

{% load metadata_access %}
<table class="metadata">

<tr>
<td>
</td>
<td> 
{{ mds.allfiles.files|length }} files
<div class="filebox">
{% for fn in mds.allfiles.files %}
{{ fn }}</br>
{% endfor %}
</div>
</td>
{% for ofiles,outset in mds.outlierparamsets %}
<td>
{{ mds.allfiles.files|length }} files
<div class="filebox">
{% for fn in ofiles %}
{{ fn }}</br>
{% endfor %}
</div>
</td>
{% endfor %}
<td>
<select class="filelist" size=15 name="outlierfiles" multiple>
{% for file in mds.allfiles.files %}
<option value="{{ file }}">{{ file }}</option>
{% endfor %}
</select>

</td>
</tr>

<tr>
<td></td>
<td>Base metadata</td>
{% for outset in mds.outlierparamsets %}
<td>Outlier metadata</td>
{% endfor %}
<td>Specify outlier metadata</td>
</tr>
    {% for name, param in mds.baseparamset.params.items %}
    {% if param.render_html %}
<tr>
<td> {{ param.title }} </td>

<td> {{ param.render_values_html|safe }} </td>

{% for files,outlierset in mds.outlierparamsets %}
{% with opr=outlierset.params|lookup:name %}
<td>{{ opr.render_values_html|safe }}</td>
{% endwith %}
{% endfor %}

{% with ps=mds.paramset.params|lookup:name %}
<td>{{ ps.render_html|safe }}</td>

<td>
    {% if ps.errors %}
        <div class="errormsg" id="metafield">
        {% for error in ps.errors %}
        {{ error }}
        {% endfor %}
        </div>
    {% endif %}
    </div>
    </td>
{% endwith %}
</tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock dset %}
