{% extends "metadata/dataset.html" %}

{% block dset %}
{% load metadata_access %}
If everything looks good, press <input type="submit" value="Confirm">
<table class="metadata">

<tr>

<td>
</td>

<td> 
<div class="filebox">
{% for fn in mds.fileset.allfiles %}
{{ fn }}</br>
{% endfor %}
</div>
</td>

</td> <!--FIXME? -->
</tr>

<tr>
<td></td>
<td>Metadata</td>
</tr>
    {% for name, param in mds.baseparamset.params.items %}
    {% if param.render_html %}
<tr>
<td> {{ param.title }} </td>
<td> {{ param.render_values_html|safe }} </td>
</tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock dset %}
