<html>
<head>
	<meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kantele - metadata management</title>

  {% block head %}
  {% endblock head %}

  {% load static %}
  {{ user.is_staff|json_script:'admin'}}
  <script>
    is_staff = JSON.parse(document.getElementById('admin').text);
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "datasets/style.css" %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
	<nav id="navMenu" class="navbar is-light">
	  <div class="navbar-brand">
	  	<a class="navbar-item" href="{% url 'home:home' %}"><img id="navMenuLogo" src="{% static "datasets/logo.svg" %}"></a>
	  </div>
	  {% if user.is_authenticated %}
	  <div class="navbar-menu">
	    <div class="navbar-start">
		  {% with request.resolver_match.app_name as appname %}
		  <a class="navbar-item {% if appname == 'home' %}is-active{% endif %}" href="{% url 'home:home' %}">HOME</a>
		    <a class="navbar-item {% if appname == 'datasets' %}is-active{% endif %}" href="{% url 'datasets:new' %}">NEW DATASET</a>
		    <a class="navbar-item {% if appname == 'dashboard' %}is-active{% endif %}" href="{% url 'dashboard:dash' %}">DASHBOARD</a>
		    <a class="navbar-item {% if appname == 'files' %}is-active{% endif %}" href="{% url 'files:inflow' %}">DATA UPLOADS</a>
		    <a class="navbar-item {% if appname == 'mstulos' %}is-active{% endif %}" href="{% url 'mstulos:front' %}">RESULTS VIEWER</a>
	  	    {% if user.is_staff %}
		    <a class="navbar-item {% if appname == 'staffpage' %}is-active{% endif %}" href="{% url 'staffpage:home' %}">ADMIN</a>
		    {% endif %}
		    <a class="navbar-item" href="{% url 'logout' %}">LOGOUT {{ user }}</a>
		  {% endwith %}
	    </div>
    </div>
	{% endif %}
  </nav>

  <div class="container mt-2">
{% block content %}
{% endblock content %}
  </div>

</body>
</html>
