{% extends "base.html" %}
{% block content %}
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.js"></script>
<section id="apps">

<div class="tabs is-toggle is-centered is-small">
	<ul>
		<li v-bind:class="tabclassQC"><a v-on:click="showQC">
			<span>QC</span>
		</a></li>
		<li v-bind:class="tabclassJobs"><a v-on:click="showJobs">
			<span>Jobs</span>
		</a></li>
	</ul>
</div>
<div class="container">
	<section>
		<qc-box v-show="viewtab === 'qc'"></qc-box>
	</section>
	<section>
		<job-box v-show="viewtab === 'jobs'"></job-box>
	</section>
</div>
</section>

<script>
	{% verbatim %}
	Vue.component('bokeh-plot', {
		//modelid, docid, elementid
		template: `
		<div class="bk-root">
			<h5 class="title is-5">Missed cleavages</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.missed_cleav.elementid"></div>
			<hr>
			<h5 class="title is-5">Peptide precursor areas</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.precursorarea.elementid"></div>
			<hr>
			<h5 class="title is-5">PSM MSGFScore</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.msgfscore.elementid"></div>
			<hr>
			<h5 class="title is-5">Precursor error (ppm)</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.prec_error.elementid"></div>
			<hr>
			<h5 class="title is-5">Retention time (min)</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.rt.elementid"></div>
			<hr>
			<h5 class="title is-5"># PSMs</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.amount_psms.elementid"></div>
			<hr>
			<h5 class="title is-5"># Peptides</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.amount_peptides.elementid"></div>
			<hr>
			<h5 class="title is-5"># Proteins</h5>
			<div class="bk-plotdiv" v-bind:id="bokeh_code.div.amount_proteins.elementid"></div>
		</div> `,
		data: function() {
			return {
				bokeh_code: Object,
			}
		},
		mounted: function() {
			this.getQC();
		},
		ready: function() {
		},
		methods: {
			getQC: function() {
				this.$http.get('/dash/qc/')
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this[key] = result[key];
					}
					console.log('loaded');
					eval(this.bokeh_code.script);
					console.log('evaled');
				})
			},
		},
	})
	Vue.component('qc-box', {
		template: `
		<div>
			<bokeh-plot></bokeh-plot>
		</div>
		`,
		data: function() {
			return {
				bokeh_code: '',
			}
		},
	})
	Vue.component('job-box', {
		template: `
<table class="table">
	<thead>
		<tr>
			<th>Job</th>
			<th>User</th>
			<th>Date</th>
			<th>Tasks</th>
		</tr>
	</thead>
		<tr v-for="job in error">
			<td>
				<a v-bind:title="job.alttexts.join(',')" v-if="job.retry" v-on:click="retryJob(job.id)" class="button is-outlined is-small is-danger">{{ job.name }}</a>
				<a v-bind:title="job.alttexts.join(',')" v-if="!job.retry" class="button is-small is-danger">{{ job.name }}</a>
			</td>
			<td>{{ job.user }}</td>
			<td>{{ job.date }}</td>
			<td>
				<a v-if="job.tasks.PENDING" class="button is-info">{{ job.tasks.PENDING }}</a>
				<a v-if="job.tasks.FAILURE" class="button is-danger">{{ job.tasks.FAILURE }}</a>
				<a v-if="job.tasks.SUCCESS" class="button is-success">{{ job.tasks.SUCCESS }}</a>
			</td>
		</tr>
		<tr v-for="job in processing">
			<td><a v-bind:title="job.alttexts.join(',')" class="button is-small is-warning">{{ job.name }}</a></td>
			<td>{{ job.user }}</td>
			<td>{{ job.date }}</td>
			<td>
				<a v-if="job.tasks.PENDING" class="button is-info">{{ job.tasks.PENDING }}</a>
				<a v-if="job.tasks.FAILURE" class="button is-danger">{{ job.tasks.FAILURE }}</a>
				<a v-if="job.tasks.SUCCESS" class="button is-success">{{ job.tasks.SUCCESS }}</a>
			</td>
		</tr>
		<tr v-bind:title="job.alttexts.join(',')" v-for="job in pending">
			<td><a class="button is-small is-info">{{ job.name }}</a></td>
			<td>{{ job.user }}</td>
			<td>{{ job.date }}</td>
			<td>
			</td>
		</tr>

</table>
		`,
		data: function() {
			return {
                        	processing: [],
                        	pending: [],
                        	error: [],
			}
		},
		mounted: function() {
			this.getJobs();
		},
		methods: {
			getJobs: function() {
				this.$http.get('/dash/jobs/')
				.then(response => {
					return response.json()
				}, response => {
				}).then(result => {
					for (key in result) {
						this[key] = result[key];
					}
				})
			},
                        retryJob: function(job_id) {
				this.$http.post(`/jobs/retry/${job_id}`)
				.then(response => {
					return response
				}, response => {
					console.log(response);
					// error code
				}).then(result => {
					this.getJobs();
				})
                        },
		},
	})
	{% endverbatim %}

	var dashboard = new Vue({
	el: '#apps',
	data: function() {
		return { 
			tabclassQC: 'is-active',
			tabclassJobs: '',
			viewtab: 'qc',
		}
	},
	methods: {
		showQC: function() {
			this.viewtab = 'qc';
			this.activateTabClass('tabclassQC');
		},
		showJobs: function() {
			this.viewtab = 'jobs';
			this.activateTabClass('tabclassJobs');
		},
		activateTabClass: function(tabname) {
			tabs = ['tabclassQC', 'tabclassJobs'];
			for (offtab of tabs) {
				this[offtab] = '';
				}
			this[tabname] = 'is-active';
		},
	},
})
</script>
{% endblock content %}
