<html>
<head>
<title>Kantele - metadata management</title>
{% load static %}
<script src="{% static "datasets/vue.js" %}"></script>
<script src="{% static "datasets/vue-resource.js" %}"></script>
<link rel="stylesheet" type="text/css" href="https://bulma.io/css/bulma-docs.min.css?v=201909111312">
<link rel="stylesheet" type="text/css" href="{% static "datasets/style.css" %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<nav id="navMenu" class="navbar">
	<div class="navbar-brand">
		<a class="navbar-item" href="{% url 'home:home' %}"><img id="navMenuLogo" src="{% static "datasets/logo.svg" %}"></a>
	</div>
	{% if user.is_authenticated %}
	<div class="navbar-menu">
	    <div class="navbar-start">
		    <a class="navbar-item " href="{% url 'home:home' %}">HOME</a>
		    <a class="navbar-item " href="{% url 'datasets:new' %}">NEW DATASET</a>
		    <a class="navbar-item " href="{% url 'files:latestfiles' %}">FILES</a>
		    <a class="navbar-item " href="{% url 'dash:dash' %}">DASHBOARD</a>
		    <a class="navbar-item " href="{% url 'logout' %}">LOGOUT {{ user }}</a>
	    </div>
    </div>
	{% endif %}
</nav>
</div>

{% block content %}

{% endblock content %}

</body>
</html>
