{% extends "base.html" %}
{% block content %}

<div class="container">
	<h5 class="title is-4">Latest 100 files</h3>
				<table class="table is-fullwidth">
					<thead>
						<tr>
							<th>File name</th>
							<th>Producer</th>
							<th>Date</th>
							<th>Size</th>
							<th>Transferred</th>
							<th>Backed up</th>
						</tr>
					</thead>
					<tbody>
						{% for fn in files %}
						<tr>
							<td>{{ fn.name }}</td>
							<td>{{ fn.prod }}</td>
							<td>{{ fn.date }}</td>
							<td>{{ fn.size }} MB</td>
							<td>{% if fn.transfer %}
								<span class="icon has-text-success">
									<i  class="fa fa-check"></i>
								</span>
								{% else %}
								<span class="icon has-text-danger">
									<i  class="fa fa-times"></i>
								</span>
								{% endif %}
							</td>
							<td>{% if fn.backup %}
								<span class="icon has-text-success">
									<i  class="fa fa-check"></i>
								</span>
								{% else %}
								<span class="icon has-text-danger">
									<i  class="fa fa-times"></i>
								</span>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
{% endblock content %}
